Repository ti-community-infra/tichi: changes, and which Prow jobs are due for each by the changed paths.
All: pull-ti-community-prow-validate-prow-yaml, post-ti-community-prow-label-sync, post-ti-community-prow-deploy-prow

.prow.yaml:

presubmits:
  - name: pull-ti-community-prow-validate-prow-yaml
    decorate: true
    run_if_changed: 'configs/prow-dev/'
    branches:
      - ^master$
    spec:
      containers:
        - image: gcr.io/k8s-prow/checkconfig:v20201124-061f85d859
          command:
            - /checkconfig
          args:
            - --plugin-config=configs/prow-dev/config/plugins.yaml
            - --config-path=configs/prow-dev/config/config.yaml
            - --warnings=validate-urls
            - --warnings=unknown-fields
            - --warnings=duplicate-job-refs
  - name: post-ti-community-prow-label-sync
    decorate: true
    labels:
      app: label-sync
    run_if_changed: 'configs/prow-dev/config/labels.yaml'
    branches:
      - ^master$
    spec:
      containers:
        - image: gcr.io/k8s-prow/label_sync:v20201124-061f85d859
          command:
            - /app/label_sync/app.binary
          args:
            - --config=configs/prow-dev/config/labels.yaml
            - --confirm=true
            - --only=tidb-community-bots/test-dev
            - --token=/etc/github/token
          volumeMounts:
            - name: github-token
              mountPath: /etc/github
              readOnly: true
      volumes:
        - name: github-token
          secret:
            secretName: github-token
postsubmits:
  - name: post-ti-community-prow-deploy-prow
    run_if_changed: 'configs/prow-dev/cluster/'
    decorate: true
    branches:
      - ^master$
    max_concurrency: 1
    spec:
      containers:
        - image: google/cloud-sdk:319.0.0
          command:
            - scripts/deploy.sh
          args:
            - --confirm
            - --config=trusted
          env:
            - name: GOOGLE_APPLICATION_CREDENTIALS
              value: /creds/service-account.json
          volumeMounts:
            - name: creds
              mountPath: /creds
      volumes:
        - name: creds
          secret:
            secretName: deployer-credentials
    annotations:
      description: deploys the configured version of prow by running scripts/deploy.sh

docs: remove not necessary line
  docs/plugins/merge.md
Due: none

fix: refine typo
  docs/en/plugins.md
  docs/plugins.md
Due: none

docs: add merge translation (#250)
  docs/en/_sidebar.md
  docs/en/plugins.md
  docs/en/plugins/merge.md
  docs/plugins.md
  docs/plugins/merge.md
Due: none

deploy: 4c047f1bae448a9691a45aa5c619d0450c9a6c57
  en/_sidebar.md
  en/plugins.md
  en/plugins/merge.md
  plugins.md
  plugins/merge.md
Due: none

feat: support multiple sigs for owners (#249)
  internal/pkg/externalplugins/owners/owners.go
  internal/pkg/externalplugins/owners/owners_test.go
Due: none

refactor: improve can not merge message
  internal/pkg/externalplugins/merge/merge.go
Due: none

refactor: improve can not merge message (#251)
  internal/pkg/externalplugins/merge/merge.go
Due: none

build: bump plugins version
  .prow.yaml
  configs/prow-dev/cluster/ti_community_autoresponder_deployment.yaml
  configs/prow-dev/cluster/ti_community_blunderbuss_deployment.yaml
  configs/prow-dev/cluster/ti_community_label_deployment.yaml
  configs/prow-dev/cluster/ti_community_lgtm_deployment.yaml
  configs/prow-dev/cluster/ti_community_merge_deployment.yaml
  configs/prow-dev/cluster/ti_community_owners_deployment.yaml
  configs/prow-dev/cluster/ti_community_tars_deployment.yaml
Due: pull-ti-community-prow-validate-prow-yaml, post-ti-community-prow-deploy-prow

build: bump plugins version (#252)
  .prow.yaml
  configs/prow-dev/cluster/ti_community_autoresponder_deployment.yaml
  configs/prow-dev/cluster/ti_community_blunderbuss_deployment.yaml
  configs/prow-dev/cluster/ti_community_label_deployment.yaml
  configs/prow-dev/cluster/ti_community_lgtm_deployment.yaml
  configs/prow-dev/cluster/ti_community_merge_deployment.yaml
  configs/prow-dev/cluster/ti_community_owners_deployment.yaml
  configs/prow-dev/cluster/ti_community_tars_deployment.yaml
Due: pull-ti-community-prow-validate-prow-yaml, post-ti-community-prow-deploy-prow

refactor: rename some variables
  web/components/header/index.tsx
  web/package.json
  web/pages/[org]/[repo]/pulls/[num]/owners.module.scss
  web/pages/[org]/[repo]/pulls/[num]/owners.tsx
  web/pages/_app.tsx
  web/pages/index.tsx
  web/styles/home.module.scss
  web/types/constant.ts
  web/utils/request.ts
Due: none

ci: refine branches
  .github/workflows/web.yml
Due: none

config: add merge_commit_template
  configs/prow-dev/config/config.yaml
Due: pull-ti-community-prow-validate-prow-yaml

config: add merge_commit_template (#256)
  configs/prow-dev/config/config.yaml
Due: pull-ti-community-prow-validate-prow-yaml

refactor: rename some variables (#254)
  .github/workflows/web.yml
  web/components/header/index.tsx
  web/package.json
  web/pages/[org]/[repo]/pulls/[num]/owners.module.scss
  web/pages/[org]/[repo]/pulls/[num]/owners.tsx
  web/pages/_app.tsx
  web/pages/index.tsx
  web/styles/home.module.scss
  web/types/constant.ts
  web/utils/request.ts
Due: none

feat: giving permissions to all sig reviewers and committers
  internal/pkg/externalplugins/owners/owners.go
  internal/pkg/externalplugins/owners/owners_test.go
  internal/pkg/externalplugins/owners/types.go
Due: none

refactor: add comments
  internal/pkg/externalplugins/owners/owners.go
  internal/pkg/externalplugins/owners/owners_test.go
Due: none

test: refine case
  internal/pkg/externalplugins/owners/owners_test.go
Due: none

docs: update owners
  docs/plugins/owners.md
Due: none

feat: giving permissions to all sig reviewers and committers (#259)
  docs/plugins/owners.md
  internal/pkg/externalplugins/owners/owners.go
  internal/pkg/externalplugins/owners/owners_test.go
  internal/pkg/externalplugins/owners/types.go
Due: none

deploy: 274f00e5e18defbc019d93adbc4e15168a55feb6
  plugins/owners.md
Due: none

build: bump plugins verison from v0.17.0 to v0.17.1
  .prow.yaml
  configs/prow-dev/cluster/ti_community_autoresponder_deployment.yaml
  configs/prow-dev/cluster/ti_community_blunderbuss_deployment.yaml
  configs/prow-dev/cluster/ti_community_label_deployment.yaml
  configs/prow-dev/cluster/ti_community_lgtm_deployment.yaml
  configs/prow-dev/cluster/ti_community_merge_deployment.yaml
  configs/prow-dev/cluster/ti_community_owners_deployment.yaml
  configs/prow-dev/cluster/ti_community_tars_deployment.yaml
Due: pull-ti-community-prow-validate-prow-yaml, post-ti-community-prow-deploy-prow

build: bump plugins verison from v0.17.0 to v0.17.1 (#262)
  .prow.yaml
  configs/prow-dev/cluster/ti_community_autoresponder_deployment.yaml
  configs/prow-dev/cluster/ti_community_blunderbuss_deployment.yaml
  configs/prow-dev/cluster/ti_community_label_deployment.yaml
  configs/prow-dev/cluster/ti_community_lgtm_deployment.yaml
  configs/prow-dev/cluster/ti_community_merge_deployment.yaml
  configs/prow-dev/cluster/ti_community_owners_deployment.yaml
  configs/prow-dev/cluster/ti_community_tars_deployment.yaml
Due: pull-ti-community-prow-validate-prow-yaml, post-ti-community-prow-deploy-prow

chore: rename bot
  configs/prow-dev/config/external_plugins_config.yaml
  docs/en/workflows/pr.md
  docs/plugins/blunderbuss.md
  docs/workflows/pr.md
Due: pull-ti-community-prow-validate-prow-yaml

chore: rename bot (#263)
  configs/prow-dev/config/external_plugins_config.yaml
  docs/en/workflows/pr.md
  docs/plugins/blunderbuss.md
  docs/workflows/pr.md
Due: pull-ti-community-prow-validate-prow-yaml

deploy: a17a9df826165b832476c13c5f93ed8e7b58f2ce
  en/workflows/pr.md
  plugins/blunderbuss.md
  workflows/pr.md
Due: none

deploy: 68af84c32436c16564e1ac3c6ac36090d5d0baee
  README.md
  components/rerere.md
  en/README.md
  en/plugins/merge.md
  index.html
  plugins/blunderbuss.md
  plugins/label.md
  plugins/lgtm.md
  plugins/merge.md
  plugins/owners.md
  plugins/require-matching-label.md
  plugins/tars.md
  plugins/wip.md
Due: none

build: bump plugins version
  configs/prow-dev/cluster/ti_community_autoresponder_deployment.yaml
  configs/prow-dev/cluster/ti_community_blunderbuss_deployment.yaml
  configs/prow-dev/cluster/ti_community_label_deployment.yaml
  configs/prow-dev/cluster/ti_community_lgtm_deployment.yaml
  configs/prow-dev/cluster/ti_community_merge_deployment.yaml
  configs/prow-dev/cluster/ti_community_owners_deployment.yaml
  configs/prow-dev/cluster/ti_community_tars_deployment.yaml
Due: pull-ti-community-prow-validate-prow-yaml, post-ti-community-prow-deploy-prow

build: bump plugins version (#266)
  configs/prow-dev/cluster/ti_community_autoresponder_deployment.yaml
  configs/prow-dev/cluster/ti_community_blunderbuss_deployment.yaml
  configs/prow-dev/cluster/ti_community_label_deployment.yaml
  configs/prow-dev/cluster/ti_community_lgtm_deployment.yaml
  configs/prow-dev/cluster/ti_community_merge_deployment.yaml
  configs/prow-dev/cluster/ti_community_owners_deployment.yaml
  configs/prow-dev/cluster/ti_community_tars_deployment.yaml
Due: pull-ti-community-prow-validate-prow-yaml, post-ti-community-prow-deploy-prow

refactor: rewrite owners page
  web/.prettierignore
  web/components/.keep
  web/components/header/index.tsx
  web/next-env.d.ts
  web/next.config.js
  web/package.json
  web/pages/[org]/[repo]/pulls/[num]/owners.module.scss
  web/pages/[org]/[repo]/pulls/[num]/owners.tsx
  web/pages/index.tsx
  web/styles/home.module.scss
  web/types/constant.ts
  web/types/owners.ts
  web/utils/request.ts
Due: none

chore: commit package-lock.json
  web/.gitignore
  web/.prettierignore
  web/package-lock.json
Due: none

deploy: add Dockerfile
  .goreleaser.yml
  deployments/web/Dockerfile
Due: none

chore: commit package-lock.json
  web/.prettierignore
  web/package.json
  web/pages/[org]/[repo]/pulls/[num]/owners.tsx
Due: none

chore: remove unused arg
  web/pages/[org]/[repo]/pulls/[num]/owners.tsx
Due: none

refactor: rewrite owners page (#267)
  .goreleaser.yml
  deployments/web/Dockerfile
  web/.gitignore
  web/.prettierignore
  web/components/.keep
  web/components/header/index.tsx
  web/next-env.d.ts
  web/next.config.js
  web/package-lock.json
  web/package.json
  web/pages/[org]/[repo]/pulls/[num]/owners.module.scss
  web/pages/[org]/[repo]/pulls/[num]/owners.tsx
  web/pages/index.tsx
  web/styles/home.module.scss
  web/types/constant.ts
  web/types/owners.ts
  web/utils/request.ts
Due: none

chore: fix releaser typo
  .goreleaser.yml
Due: none

chore: fix releaser typo (#268)
  .goreleaser.yml
Due: none

config: fix web Dockerfile env issue
  deployments/web/Dockerfile
Due: none
