Repository ti-community-infra/tichi: changes, and which Prow jobs are due for each by the changed paths.
All: pull-ti-community-prow-validate-prow-yaml, post-ti-community-prow-label-sync, post-ti-community-prow-deploy-prow

pull-ti-community-prow-validate-prow-yaml:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-prow/checkconfig:v20201124-061f85d859
      command:
      - /checkconfig
      args:
      - --plugin-config=configs/prow-dev/config/plugins.yaml
      - --config-path=configs/prow-dev/config/config.yaml
      - --warnings=validate-urls
  ...

post-ti-community-prow-label-sync:
  decorate: true
  labels:
    app: label-sync
  spec:
    containers:
    - image: gcr.io/k8s-prow/label_sync:v20201124-061f85d859
      command:
      - /app/label_sync/app.binary
      args:
      - --config=configs/prow-dev/config/labels.yaml
      - --confirm=true
      - --only=tidb-community-bots/test-dev
  ...

post-ti-community-prow-deploy-prow:
  decorate: true
  spec:
    containers:
    - image: google/cloud-sdk:319.0.0
      command:
      - scripts/deploy.sh
      args:
      - --confirm
      - --config=trusted
      env:
      - name: GOOGLE_APPLICATION_CREDENTIALS
        value: /creds/service-account.json
      volumeMounts:
      - name: creds
  ...

docs: fix typo
  docs/src/plugins/wip.md
Due: none

docs: add hold and wip (#198)
  docs/src/SUMMARY.md
  docs/src/plugins/hold.md
  docs/src/plugins/wip.md
Due: none

deploy: 4e160d9811b12dc26a82e5dc7cac0bdb2a2615d3
  404.html
  components.html
  components/tide.html
  index.html
  introduction.html
  plugins.html
  plugins/blunderbuss.html
  plugins/hold.html
  plugins/lgtm.html
  plugins/merge.html
  plugins/owners.html
  plugins/require-matching-label.html
  plugins/tars.html
  plugins/wip.html
  print.html
  searchindex.js
  searchindex.json
  tools.html
  tools/label_sync.html
  workflows.html
  workflows/pr.html
Due: none

refactor: update default path of the external plugin config file
  cmd/ticommunityautoresponder/main.go
  cmd/ticommunityblunderbuss/main.go
  cmd/ticommunitylabel/main.go
  cmd/ticommunitylgtm/main.go
  cmd/ticommunitymerge/main.go
  cmd/ticommunityowners/main.go
Due: none

refactor: update default path of the external plugin config file (#199)
  cmd/ticommunityautoresponder/main.go
  cmd/ticommunityblunderbuss/main.go
  cmd/ticommunitylabel/main.go
  cmd/ticommunitylgtm/main.go
  cmd/ticommunitymerge/main.go
  cmd/ticommunityowners/main.go
Due: none

config: enable trigger for test dev
  configs/prow-dev/config/plugins.yaml
Due: pull-ti-community-prow-validate-prow-yaml

config: enable trigger for test dev (#200)
  configs/prow-dev/config/plugins.yaml
Due: pull-ti-community-prow-validate-prow-yaml

feat: add rerere component
  cmd/rerere/main.go
  internal/pkg/rerere/rerere.go
Due: none

feat: add check
  cmd/rerere/main.go
  go.mod
  go.sum
  internal/pkg/externalplugins/lgtm/lgtm.go
  internal/pkg/externalplugins/merge/merge_test.go
  internal/pkg/externalplugins/owners/owners.go
  internal/pkg/externalplugins/owners/owners_test.go
  internal/pkg/rerere/rerere.go
Due: none

feat: impl
  internal/pkg/rerere/rerere.go
Due: none

feat: refine ci
  internal/pkg/rerere/rerere.go
Due: none

feat: use ticker
  internal/pkg/rerere/rerere.go
Due: none

feat: impl
  cmd/rerere/main.go
  internal/pkg/rerere/rerere.go
Due: none

feat: lint
  internal/pkg/rerere/rerere.go
Due: none

ci: bump version
  go.mod
  go.sum
  internal/pkg/rerere/rerere.go
Due: none

fix: refine commit message
  internal/pkg/rerere/rerere.go
Due: none

refactor: update the mount path of external plugins config
  configs/prow-dev/cluster/ti_community_autoresponder_deployment.yaml
  configs/prow-dev/cluster/ti_community_blunderbuss_deployment.yaml
  configs/prow-dev/cluster/ti_community_label_deployment.yaml
  configs/prow-dev/cluster/ti_community_lgtm_deployment.yaml
  configs/prow-dev/cluster/ti_community_merge_deployment.yaml
  configs/prow-dev/cluster/ti_community_owners_deployment.yaml
  configs/prow-dev/cluster/ti_community_tars_deployment.yaml
Due: pull-ti-community-prow-validate-prow-yaml, post-ti-community-prow-deploy-prow

fix: fix typo
  configs/prow-dev/cluster/ti_community_autoresponder_deployment.yaml
Due: pull-ti-community-prow-validate-prow-yaml, post-ti-community-prow-deploy-prow

refactor: update the mount path of external plugins config (#202)
  configs/prow-dev/cluster/ti_community_autoresponder_deployment.yaml
  configs/prow-dev/cluster/ti_community_blunderbuss_deployment.yaml
  configs/prow-dev/cluster/ti_community_label_deployment.yaml
  configs/prow-dev/cluster/ti_community_lgtm_deployment.yaml
  configs/prow-dev/cluster/ti_community_merge_deployment.yaml
  configs/prow-dev/cluster/ti_community_owners_deployment.yaml
  configs/prow-dev/cluster/ti_community_tars_deployment.yaml
Due: pull-ti-community-prow-validate-prow-yaml, post-ti-community-prow-deploy-prow

test: add cases
  internal/pkg/rerere/rerere.go
  internal/pkg/rerere/rerere_test.go
Due: none

test: add cases
  cmd/rerere/main.go
  internal/pkg/rerere/rerere.go
  internal/pkg/rerere/rerere_test.go
Due: none

test: add cases
  internal/pkg/externalplugins/autoresponder/autoresponder_test.go
  internal/pkg/externalplugins/blunderbuss/blunderbuss_test.go
  internal/pkg/externalplugins/lgtm/lgtm_test.go
  internal/pkg/externalplugins/merge/merge_test.go
  internal/pkg/externalplugins/owners/owners_test.go
  internal/pkg/externalplugins/tars/tars_test.go
  internal/pkg/ownersclient/ownersclient_test.go
  internal/pkg/rerere/rerere_test.go
Due: none

test: delete file
  internal/pkg/rerere/rerere_test.go
Due: none

docs: better comments
  cmd/rerere/main.go
  internal/pkg/rerere/rerere.go
  internal/pkg/rerere/rerere_test.go
Due: none

build: add dockerfile
  .goreleaser.yml
  cmd/rerere/main.go
  deployments/components/rerere/Dockerfile
Due: none

feat: add rerere component (#201)
  .goreleaser.yml
  cmd/rerere/main.go
  deployments/components/rerere/Dockerfile
  go.mod
  go.sum
  internal/pkg/externalplugins/autoresponder/autoresponder_test.go
  internal/pkg/externalplugins/blunderbuss/blunderbuss_test.go
  internal/pkg/externalplugins/lgtm/lgtm.go
  internal/pkg/externalplugins/lgtm/lgtm_test.go
  internal/pkg/externalplugins/merge/merge_test.go
  internal/pkg/externalplugins/owners/owners.go
  internal/pkg/externalplugins/owners/owners_test.go
  internal/pkg/externalplugins/tars/tars_test.go
  internal/pkg/ownersclient/ownersclient_test.go
  internal/pkg/rerere/rerere.go
  internal/pkg/rerere/rerere_test.go
Due: none

build: bump version
  configs/prow-dev/cluster/ti_community_autoresponder_deployment.yaml
  configs/prow-dev/cluster/ti_community_blunderbuss_deployment.yaml
  configs/prow-dev/cluster/ti_community_label_deployment.yaml
  configs/prow-dev/cluster/ti_community_lgtm_deployment.yaml
  configs/prow-dev/cluster/ti_community_merge_deployment.yaml
  configs/prow-dev/cluster/ti_community_owners_deployment.yaml
  configs/prow-dev/cluster/ti_community_tars_deployment.yaml
  configs/prow-dev/config/external_plugins_config.yaml
  configs/prow-dev/config/plugins.yaml
Due: pull-ti-community-prow-validate-prow-yaml, post-ti-community-prow-deploy-prow

build: bump version (#203)
  configs/prow-dev/cluster/ti_community_autoresponder_deployment.yaml
  configs/prow-dev/cluster/ti_community_blunderbuss_deployment.yaml
  configs/prow-dev/cluster/ti_community_label_deployment.yaml
  configs/prow-dev/cluster/ti_community_lgtm_deployment.yaml
  configs/prow-dev/cluster/ti_community_merge_deployment.yaml
  configs/prow-dev/cluster/ti_community_owners_deployment.yaml
  configs/prow-dev/cluster/ti_community_tars_deployment.yaml
  configs/prow-dev/config/external_plugins_config.yaml
  configs/prow-dev/config/plugins.yaml
Due: pull-ti-community-prow-validate-prow-yaml, post-ti-community-prow-deploy-prow

ci: add rerere
  .github/workflows/golangci-lint.yml
  .github/workflows/test.yml
  .prow.yaml
  internal/pkg/rerere/rerere.go
Due: none

ci: add rerere (#204)
  .github/workflows/golangci-lint.yml
  .github/workflows/test.yml
  .prow.yaml
  internal/pkg/rerere/rerere.go
Due: none

chore: ignore unused parameter
  internal/pkg/externalplugins/blunderbuss/blunderbuss_test.go
Due: none

chore: ignore unused parameter (#207)
  internal/pkg/externalplugins/blunderbuss/blunderbuss_test.go
Due: none

fix: refine rerere flags
  cmd/rerere/main.go
  internal/pkg/rerere/rerere.go
Due: none

fix: refine rerere flags (#208)
  cmd/rerere/main.go
  internal/pkg/rerere/rerere.go
Due: none

ci: add trigger for rerere
  .prow.yaml
Due: none

ci: fix typo
  .prow.yaml
Due: none

ci: add trigger for rerere (#209)
  .prow.yaml
Due: none

feat: support setting multiple trusted teams and required LGTM numbers for different branches
  configs/prow-dev/config/external_plugins_config.yaml
  internal/pkg/externalplugins/config.go
  internal/pkg/externalplugins/owners/owners.go
  internal/pkg/externalplugins/owners/owners_test.go
Due: pull-ti-community-prow-validate-prow-yaml

docs: udpate the owners plugin document
  docs/src/plugins/owners.md
Due: none

fix: use set instead of slice for trust team
  internal/pkg/externalplugins/owners/owners.go
Due: none

Path conditions:
  pull-ti-community-prow-validate-prow-yaml: any of: configs/prow-dev/
  post-ti-community-prow-label-sync: any of: configs/prow-dev/config/labels.yaml
  post-ti-community-prow-deploy-prow: any of: configs/prow-dev/cluster/
