Repository ti-community-infra/tichi: changes, and which Prow jobs are due for each by the changed paths.
All: pull-ti-community-prow-validate-prow-yaml, post-ti-community-prow-label-sync, post-ti-community-prow-deploy-prow

pull-ti-community-prow-validate-prow-yaml:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-prow/checkconfig:v20201124-061f85d859
      command:
      - /checkconfig
      args:
      - --plugin-config=configs/prow-dev/config/plugins.yaml
      - --config-path=configs/prow-dev/config/config.yaml
      - --warnings=validate-urls
  ...

post-ti-community-prow-label-sync:
  decorate: true
  labels:
    app: label-sync
  spec:
    containers:
    - image: gcr.io/k8s-prow/label_sync:v20201124-061f85d859
      command:
      - /app/label_sync/app.binary
      args:
      - --config=configs/prow-dev/config/labels.yaml
      - --confirm=true
      - --only=tidb-community-bots/test-dev
  ...

post-ti-community-prow-deploy-prow:
  decorate: true
  spec:
    containers:
    - image: google/cloud-sdk:319.0.0
      command:
      - scripts/deploy.sh
      args:
      - --confirm
      - --config=trusted
      env:
      - name: GOOGLE_APPLICATION_CREDENTIALS
        value: /creds/service-account.json
      volumeMounts:
      - name: creds
  ...

feat: add use GitHub permission to owners (#333)
  docs/plugins/owners.md
  internal/pkg/externalplugins/config.go
  internal/pkg/externalplugins/owners/owners.go
  internal/pkg/externalplugins/owners/owners_test.go
Due: none

deploy: 3fe9797a880a418b4394bae1b0cfc29b84884217
  plugins/owners.md
Due: none

build: update release jobs
  .github/workflows/release.yml
  .goreleaser.yml
Due: none

build: update release jobs (#335)
  .github/workflows/release.yml
  .goreleaser.yml
Due: none

chore: update images
  .prow.yaml
  configs/prow-dev/cluster/ti_community_autoresponder_deployment.yaml
  configs/prow-dev/cluster/ti_community_blunderbuss_deployment.yaml
  configs/prow-dev/cluster/ti_community_label_blocker_deployment.yaml
  configs/prow-dev/cluster/ti_community_label_deployment.yaml
  configs/prow-dev/cluster/ti_community_lgtm_deployment.yaml
  configs/prow-dev/cluster/ti_community_merge_deployment.yaml
  configs/prow-dev/cluster/ti_community_owners_deployment.yaml
  configs/prow-dev/cluster/ti_community_tars_deployment.yaml
  configs/prow-dev/cluster/tichi_web_deployment.yaml
  docs/components/rerere.md
  go.sum
Due: pull-ti-community-prow-validate-prow-yaml, post-ti-community-prow-deploy-prow

revert go sum
  go.sum
Due: none

chore: update images (#336)
  .prow.yaml
  configs/prow-dev/cluster/ti_community_autoresponder_deployment.yaml
  configs/prow-dev/cluster/ti_community_blunderbuss_deployment.yaml
  configs/prow-dev/cluster/ti_community_label_blocker_deployment.yaml
  configs/prow-dev/cluster/ti_community_label_deployment.yaml
  configs/prow-dev/cluster/ti_community_lgtm_deployment.yaml
  configs/prow-dev/cluster/ti_community_merge_deployment.yaml
  configs/prow-dev/cluster/ti_community_owners_deployment.yaml
  configs/prow-dev/cluster/ti_community_tars_deployment.yaml
  configs/prow-dev/cluster/tichi_web_deployment.yaml
  docs/components/rerere.md
Due: pull-ti-community-prow-validate-prow-yaml, post-ti-community-prow-deploy-prow

deploy: f2eb99bfb61059f66e410056261d3611fb13983d
  components/rerere.md
Due: none

build: bump test-infra components version
  .prow.yaml
  configs/prow-dev/cluster/branchprotector.yaml
  configs/prow-dev/cluster/cherrypicker_deployment.yaml
  configs/prow-dev/cluster/crier_deployment.yaml
  configs/prow-dev/cluster/deck_deployment.yaml
  configs/prow-dev/cluster/ghproxy.yaml
  configs/prow-dev/cluster/hook_deployment.yaml
  configs/prow-dev/cluster/horologium_deployment.yaml
  configs/prow-dev/cluster/needs-rebase_deployment.yaml
  configs/prow-dev/cluster/plank_deployment.yaml
  configs/prow-dev/cluster/prow_controller_manager_deployment.yaml
  configs/prow-dev/cluster/sinker_deployment.yaml
  configs/prow-dev/cluster/statusreconciler_deployment.yaml
  configs/prow-dev/cluster/tide_deployment.yaml
  configs/prow-dev/config/config.yaml
  configs/prow-dev/jobs/ti-community-infra/test-dev/rustin-bot-periodics.yaml
Due: pull-ti-community-prow-validate-prow-yaml, post-ti-community-prow-deploy-prow

build: bump test-infra components version (#337)
  .prow.yaml
  configs/prow-dev/cluster/branchprotector.yaml
  configs/prow-dev/cluster/cherrypicker_deployment.yaml
  configs/prow-dev/cluster/crier_deployment.yaml
  configs/prow-dev/cluster/deck_deployment.yaml
  configs/prow-dev/cluster/ghproxy.yaml
  configs/prow-dev/cluster/hook_deployment.yaml
  configs/prow-dev/cluster/horologium_deployment.yaml
  configs/prow-dev/cluster/needs-rebase_deployment.yaml
  configs/prow-dev/cluster/plank_deployment.yaml
  configs/prow-dev/cluster/prow_controller_manager_deployment.yaml
  configs/prow-dev/cluster/sinker_deployment.yaml
  configs/prow-dev/cluster/statusreconciler_deployment.yaml
  configs/prow-dev/cluster/tide_deployment.yaml
  configs/prow-dev/config/config.yaml
  configs/prow-dev/jobs/ti-community-infra/test-dev/rustin-bot-periodics.yaml
Due: pull-ti-community-prow-validate-prow-yaml, post-ti-community-prow-deploy-prow

chore: bump test-infra version
  go.mod
  go.sum
Due: none

chore: refine sum
  go.sum
Due: none

chore: bump test-infra version (#338)
  go.mod
  go.sum
Due: none

fix: Use github permissions only if no sig labels
  internal/pkg/externalplugins/owners/owners.go
  internal/pkg/externalplugins/owners/owners_test.go
Due: none

docs: update docs
  docs/plugins/owners.md
Due: none

fix: Use github permissions only if no sig labels (#342)
  docs/plugins/owners.md
  internal/pkg/externalplugins/owners/owners.go
  internal/pkg/externalplugins/owners/owners_test.go
Due: none

deploy: 7ace8e47f0297f31b50b74f2e802de1e73ece390
  plugins/owners.md
Due: none

build: bump ti plugins version
  .prow.yaml
  configs/prow-dev/cluster/ti_community_autoresponder_deployment.yaml
  configs/prow-dev/cluster/ti_community_blunderbuss_deployment.yaml
  configs/prow-dev/cluster/ti_community_label_blocker_deployment.yaml
  configs/prow-dev/cluster/ti_community_label_deployment.yaml
  configs/prow-dev/cluster/ti_community_lgtm_deployment.yaml
  configs/prow-dev/cluster/ti_community_merge_deployment.yaml
  configs/prow-dev/cluster/ti_community_owners_deployment.yaml
  configs/prow-dev/cluster/ti_community_tars_deployment.yaml
  configs/prow-dev/cluster/tichi_web_deployment.yaml
Due: pull-ti-community-prow-validate-prow-yaml, post-ti-community-prow-deploy-prow

build: bump ti plugins version (#343)
  .prow.yaml
  configs/prow-dev/cluster/ti_community_autoresponder_deployment.yaml
  configs/prow-dev/cluster/ti_community_blunderbuss_deployment.yaml
  configs/prow-dev/cluster/ti_community_label_blocker_deployment.yaml
  configs/prow-dev/cluster/ti_community_label_deployment.yaml
  configs/prow-dev/cluster/ti_community_lgtm_deployment.yaml
  configs/prow-dev/cluster/ti_community_merge_deployment.yaml
  configs/prow-dev/cluster/ti_community_owners_deployment.yaml
  configs/prow-dev/cluster/ti_community_tars_deployment.yaml
  configs/prow-dev/cluster/tichi_web_deployment.yaml
Due: pull-ti-community-prow-validate-prow-yaml, post-ti-community-prow-deploy-prow

fix: only request reviewers when PR no requested reviewers
  internal/pkg/externalplugins/blunderbuss/blunderbuss.go
  internal/pkg/externalplugins/blunderbuss/blunderbuss_test.go
Due: none

docs: update docs
  docs/plugins/blunderbuss.md
Due: none

docs: refine typo
  docs/plugins/blunderbuss.md
Due: none

fix: all check openPrWithoutCcCommand
  internal/pkg/externalplugins/blunderbuss/blunderbuss.go
Due: none

test: add more cases
  internal/pkg/externalplugins/blunderbuss/blunderbuss_test.go
Due: none

refactor: rename
  internal/pkg/externalplugins/blunderbuss/blunderbuss.go
Due: none

fix: only request reviewers when PR no requested reviewers (#344)
  docs/plugins/blunderbuss.md
  internal/pkg/externalplugins/blunderbuss/blunderbuss.go
  internal/pkg/externalplugins/blunderbuss/blunderbuss_test.go
Due: none

deploy: ef2228c6e6a854c2476c98bc6cb8e26254689427
  plugins/blunderbuss.md
Due: none

feat: add external plugin config checker
  .goreleaser.yml
  cmd/checkpluginconfig/main.go
  cmd/checkpluginconfig/main_test.go
  cmd/checkpluginconfig/testdata/external_plugins_config.yaml
  deployments/util/checkpluginconfig/Dockerfile
Due: none

chore: rename
  .goreleaser.yml
  cmd/check-external-plugin-config/main.go
  cmd/check-external-plugin-config/main_test.go
  cmd/check-external-plugin-config/testdata/external_plugins_config.yaml
  deployments/util/check-external-plugin-config/Dockerfile
  deployments/util/checkpluginconfig/Dockerfile
Due: none

fix: fix lint error
  cmd/checkpluginconfig/main.go
  cmd/checkpluginconfig/main_test.go
Due: none

chore: move the config test file
  cmd/check-external-plugin-config/main_test.go
  test/testdata/config_combine.yaml
Due: none

feat: add external plugin config checker (#347)
  .goreleaser.yml
  cmd/check-external-plugin-config/main.go
  cmd/check-external-plugin-config/main_test.go
  deployments/util/check-external-plugin-config/Dockerfile
  test/testdata/config_combine.yaml
Due: none

fix: fix dockerfile path in goreleaser config
  .goreleaser.yml
Due: none

chore: move dockerfile to utils
  .goreleaser.yml
  deployments/utils/check-external-plugin-config/Dockerfile
Due: none

fix: fix dockerfile path in goreleaser config (#348)
  .goreleaser.yml
  deployments/utils/check-external-plugin-config/Dockerfile
Due: none

build: bump ti plugins version and enable validate config job
  .prow.yaml
  configs/prow-dev/cluster/ti_community_autoresponder_deployment.yaml
  configs/prow-dev/cluster/ti_community_blunderbuss_deployment.yaml
  configs/prow-dev/cluster/ti_community_label_blocker_deployment.yaml
  configs/prow-dev/cluster/ti_community_label_deployment.yaml
  configs/prow-dev/cluster/ti_community_lgtm_deployment.yaml
  configs/prow-dev/cluster/ti_community_merge_deployment.yaml
  configs/prow-dev/cluster/ti_community_owners_deployment.yaml
  configs/prow-dev/cluster/ti_community_tars_deployment.yaml
  configs/prow-dev/cluster/tichi_web_deployment.yaml
Due: pull-ti-community-prow-validate-prow-yaml, post-ti-community-prow-deploy-prow

chore: make config file error
  configs/prow-dev/config/external_plugins_config.yaml
Due: pull-ti-community-prow-validate-prow-yaml

fix: fix execute path
  .prow.yaml
Due: none

fix: fix the config file
  configs/prow-dev/config/external_plugins_config.yaml
Due: pull-ti-community-prow-validate-prow-yaml

Path conditions:
  pull-ti-community-prow-validate-prow-yaml: any of: configs/prow-dev/
  post-ti-community-prow-label-sync: any of: configs/prow-dev/config/labels.yaml
  post-ti-community-prow-deploy-prow: any of: configs/prow-dev/cluster/
