Repository ti-community-infra/tichi: changes, and which Prow jobs are due for each by the changed paths.
All: pull-tichi-validate-prow-yaml, pull-tichi-validate-external-plugin-yaml, pull-tichi-validate-labels-yaml, post-tichi-deploy-prow, post-tichi-label-sync

Path conditions:
  pull-tichi-validate-prow-yaml: any of: configs/prow-dev/
  pull-tichi-validate-external-plugin-yaml: any of: configs/prow-dev/config/external_plugins_config.yaml
  pull-tichi-validate-labels-yaml: any of: configs/prow-dev/config/labels.yaml
  post-tichi-deploy-prow: any of: configs/prow-dev/cluster/
  post-tichi-label-sync: any of: configs/prow-dev/config/labels.yaml

fix: tars wait a few seconds after receiving a comment (#528)
  internal/pkg/externalplugins/tars/tars.go
Due: none

docs: add cherrypicker docs
  docs/README.md
  docs/_sidebar.md
  docs/plugins/cherrypicker.md
Due: none

docs: add cherrypicker en docs
  docs/en/README.md
  docs/en/_sidebar.md
  docs/en/plugins/cherrypicker.md
  docs/plugins/cherrypicker.md
Due: none

build: bump all ti plugins version
  .prow.yaml
  configs/prow-dev/cluster/ti_community_autoresponder_deployment.yaml
  configs/prow-dev/cluster/ti_community_blunderbuss_deployment.yaml
  configs/prow-dev/cluster/ti_community_cherrypicker_deployment.yaml
  configs/prow-dev/cluster/ti_community_contribution_deployment.yaml
  configs/prow-dev/cluster/ti_community_label_blocker_deployment.yaml
  configs/prow-dev/cluster/ti_community_label_deployment.yaml
  configs/prow-dev/cluster/ti_community_lgtm_deployment.yaml
  configs/prow-dev/cluster/ti_community_merge_deployment.yaml
  configs/prow-dev/cluster/ti_community_owners_deployment.yaml
  configs/prow-dev/cluster/ti_community_tars_deployment.yaml
  configs/prow-dev/cluster/tichi_web_deployment.yaml
Due: pull-tichi-validate-prow-yaml, post-tichi-deploy-prow

build: bump all ti plugins version (#531)
  .prow.yaml
  configs/prow-dev/cluster/ti_community_autoresponder_deployment.yaml
  configs/prow-dev/cluster/ti_community_blunderbuss_deployment.yaml
  configs/prow-dev/cluster/ti_community_cherrypicker_deployment.yaml
  configs/prow-dev/cluster/ti_community_contribution_deployment.yaml
  configs/prow-dev/cluster/ti_community_label_blocker_deployment.yaml
  configs/prow-dev/cluster/ti_community_label_deployment.yaml
  configs/prow-dev/cluster/ti_community_lgtm_deployment.yaml
  configs/prow-dev/cluster/ti_community_merge_deployment.yaml
  configs/prow-dev/cluster/ti_community_owners_deployment.yaml
  configs/prow-dev/cluster/ti_community_tars_deployment.yaml
  configs/prow-dev/cluster/tichi_web_deployment.yaml
Due: pull-tichi-validate-prow-yaml, post-tichi-deploy-prow

fix: tars stop pass the expectedHeadSha and use the default value
  internal/pkg/externalplugins/tars/tars.go
Due: none

Address comments
  docs/plugins/cherrypicker.md
Due: none

docs: add cherrypicker docs (#529)
  docs/README.md
  docs/_sidebar.md
  docs/en/README.md
  docs/en/_sidebar.md
  docs/en/plugins/cherrypicker.md
  docs/plugins/cherrypicker.md
Due: none

deploy: e7d3fa0cf10d81252bdb2f3c71f7fc32ef290930
  README.md
  _sidebar.md
  en/README.md
  en/_sidebar.md
  en/plugins/cherrypicker.md
  plugins/cherrypicker.md
Due: none

fix: more friendly reply for /lgtm and /merge by contributor without reviewer or committer bit
  internal/pkg/externalplugins/lgtm/lgtm.go
  internal/pkg/externalplugins/lgtm/lgtm_test.go
  internal/pkg/externalplugins/merge/merge.go
Due: none

*: keep style aligned
  internal/pkg/externalplugins/lgtm/lgtm.go
Due: none

fix: more friendly reply for /lgtm and /merge by contributor without … (#538)
  internal/pkg/externalplugins/lgtm/lgtm.go
  internal/pkg/externalplugins/lgtm/lgtm_test.go
  internal/pkg/externalplugins/merge/merge.go
Due: none

feat: add include_reviers for blunderbuss
  internal/pkg/externalplugins/blunderbuss/blunderbuss.go
  internal/pkg/externalplugins/blunderbuss/blunderbuss_test.go
  internal/pkg/externalplugins/config.go
  internal/pkg/externalplugins/config_test.go
Due: none

fix tests
  internal/pkg/externalplugins/blunderbuss/blunderbuss.go
Due: none

docs: update docs
  docs/en/plugins/blunderbuss.md
  docs/plugins/blunderbuss.md
  internal/pkg/externalplugins/blunderbuss/blunderbuss.go
Due: none

build: Delete deprecated plank
  configs/prow-dev/cluster/plank_deployment.yaml
  configs/prow-dev/cluster/plank_rbac.yaml
  configs/prow-dev/cluster/plank_service.yaml
Due: pull-tichi-validate-prow-yaml, post-tichi-deploy-prow

feat: add include_reviewers for blunderbuss (#540)
  docs/en/plugins/blunderbuss.md
  docs/plugins/blunderbuss.md
  internal/pkg/externalplugins/blunderbuss/blunderbuss.go
  internal/pkg/externalplugins/blunderbuss/blunderbuss_test.go
  internal/pkg/externalplugins/config.go
  internal/pkg/externalplugins/config_test.go
Due: none

deploy: ccaff4bc61ca3d0de74612aef62e5b637e059e71
  en/plugins/blunderbuss.md
  plugins/blunderbuss.md
Due: none

build: Delete deprecated plank (#541)
  configs/prow-dev/cluster/plank_deployment.yaml
  configs/prow-dev/cluster/plank_rbac.yaml
  configs/prow-dev/cluster/plank_service.yaml
Due: pull-tichi-validate-prow-yaml, post-tichi-deploy-prow

config: change the blunderbuss config
  configs/prow-dev/config/external_plugins_config.yaml
Due: pull-tichi-validate-prow-yaml, pull-tichi-validate-external-plugin-yaml

build: bump all ti plugins version (#542)
  .prow.yaml
  configs/prow-dev/cluster/ti_community_autoresponder_deployment.yaml
  configs/prow-dev/cluster/ti_community_blunderbuss_deployment.yaml
  configs/prow-dev/cluster/ti_community_cherrypicker_deployment.yaml
  configs/prow-dev/cluster/ti_community_contribution_deployment.yaml
  configs/prow-dev/cluster/ti_community_label_blocker_deployment.yaml
  configs/prow-dev/cluster/ti_community_label_deployment.yaml
  configs/prow-dev/cluster/ti_community_lgtm_deployment.yaml
  configs/prow-dev/cluster/ti_community_merge_deployment.yaml
  configs/prow-dev/cluster/ti_community_owners_deployment.yaml
  configs/prow-dev/cluster/ti_community_tars_deployment.yaml
  configs/prow-dev/cluster/tichi_web_deployment.yaml
  configs/prow-dev/config/external_plugins_config.yaml
Due: pull-tichi-validate-prow-yaml, pull-tichi-validate-external-plugin-yaml, post-tichi-deploy-prow

build: Bump prow from v20210409-7d5e552c49 to v20210514-64850e516d
  .prow.yaml
  configs/prow-dev/cluster/branchprotector.yaml
  configs/prow-dev/cluster/crier_deployment.yaml
  configs/prow-dev/cluster/deck_deployment.yaml
  configs/prow-dev/cluster/ghproxy.yaml
  configs/prow-dev/cluster/hook_deployment.yaml
  configs/prow-dev/cluster/horologium_deployment.yaml
  configs/prow-dev/cluster/label_sync.yaml
  configs/prow-dev/cluster/needs-rebase_deployment.yaml
  configs/prow-dev/cluster/prow_controller_manager_deployment.yaml
  configs/prow-dev/cluster/sinker_deployment.yaml
  configs/prow-dev/cluster/statusreconciler_deployment.yaml
  configs/prow-dev/cluster/tide_deployment.yaml
  configs/prow-dev/config/config.yaml
  configs/prow-dev/jobs/ti-community-infra/test-dev/rustin-bot-periodics.yaml
  docs/en/tools/autobump.md
  docs/tools/autobump.md
Due: pull-tichi-validate-prow-yaml, post-tichi-deploy-prow

build: Bump prow from v20210409-7d5e552c49 to v20210514-64850e516d (#543)
  .prow.yaml
  configs/prow-dev/cluster/branchprotector.yaml
  configs/prow-dev/cluster/crier_deployment.yaml
  configs/prow-dev/cluster/deck_deployment.yaml
  configs/prow-dev/cluster/ghproxy.yaml
  configs/prow-dev/cluster/hook_deployment.yaml
  configs/prow-dev/cluster/horologium_deployment.yaml
  configs/prow-dev/cluster/label_sync.yaml
  configs/prow-dev/cluster/needs-rebase_deployment.yaml
  configs/prow-dev/cluster/prow_controller_manager_deployment.yaml
  configs/prow-dev/cluster/sinker_deployment.yaml
  configs/prow-dev/cluster/statusreconciler_deployment.yaml
  configs/prow-dev/cluster/tide_deployment.yaml
  configs/prow-dev/config/config.yaml
  configs/prow-dev/jobs/ti-community-infra/test-dev/rustin-bot-periodics.yaml
  docs/en/tools/autobump.md
  docs/tools/autobump.md
Due: pull-tichi-validate-prow-yaml, post-tichi-deploy-prow

deploy: 796ed744d0a658d61d0bccfbb1a85ce060811695
  en/tools/autobump.md
  tools/autobump.md
Due: none

fix: refine the broken components configurations
  configs/prow-dev/cluster/deck_deployment.yaml
  configs/prow-dev/cluster/sinker_deployment.yaml
Due: pull-tichi-validate-prow-yaml, post-tichi-deploy-prow

fix: refine the broken components configurations (#544)
  configs/prow-dev/cluster/deck_deployment.yaml
  configs/prow-dev/cluster/sinker_deployment.yaml
Due: pull-tichi-validate-prow-yaml, post-tichi-deploy-prow

build: Bump prow from v20210514-64850e516d to v20210521-0713522bd8
  .prow.yaml
  configs/prow-dev/cluster/branchprotector.yaml
  configs/prow-dev/cluster/crier_deployment.yaml
  configs/prow-dev/cluster/deck_deployment.yaml
  configs/prow-dev/cluster/ghproxy.yaml
  configs/prow-dev/cluster/hook_deployment.yaml
  configs/prow-dev/cluster/horologium_deployment.yaml
  configs/prow-dev/cluster/label_sync.yaml
  configs/prow-dev/cluster/needs-rebase_deployment.yaml
  configs/prow-dev/cluster/prow_controller_manager_deployment.yaml
  configs/prow-dev/cluster/sinker_deployment.yaml
  configs/prow-dev/cluster/statusreconciler_deployment.yaml
  configs/prow-dev/cluster/tide_deployment.yaml
  configs/prow-dev/config/config.yaml
  configs/prow-dev/jobs/ti-community-infra/test-dev/rustin-bot-periodics.yaml
  docs/en/tools/autobump.md
  docs/tools/autobump.md
Due: pull-tichi-validate-prow-yaml, post-tichi-deploy-prow

build: Bump prow from v20210514-64850e516d to v20210521-0713522bd8 (#552)
  .prow.yaml
  configs/prow-dev/cluster/branchprotector.yaml
  configs/prow-dev/cluster/crier_deployment.yaml
  configs/prow-dev/cluster/deck_deployment.yaml
  configs/prow-dev/cluster/ghproxy.yaml
  configs/prow-dev/cluster/hook_deployment.yaml
  configs/prow-dev/cluster/horologium_deployment.yaml
  configs/prow-dev/cluster/label_sync.yaml
  configs/prow-dev/cluster/needs-rebase_deployment.yaml
  configs/prow-dev/cluster/prow_controller_manager_deployment.yaml
  configs/prow-dev/cluster/sinker_deployment.yaml
  configs/prow-dev/cluster/statusreconciler_deployment.yaml
  configs/prow-dev/cluster/tide_deployment.yaml
  configs/prow-dev/config/config.yaml
  configs/prow-dev/jobs/ti-community-infra/test-dev/rustin-bot-periodics.yaml
  docs/en/tools/autobump.md
  docs/tools/autobump.md
Due: pull-tichi-validate-prow-yaml, post-tichi-deploy-prow

deploy: 2550fe094d61d20187f5ad0dd3e9c00d0070621c
  en/tools/autobump.md
  tools/autobump.md
Due: none

feat: count lgtm only for review approval
  cmd/ticommunitylgtm/main.go
  configs/prow-dev/config/external_plugins_config.yaml
  docs/en/plugins/lgtm.md
  docs/en/plugins/owners.md
  docs/en/workflows/pr.md
  docs/plugins/lgtm.md
  docs/plugins/owners.md
  docs/workflows/pr.md
  internal/pkg/externalplugins/config.go
  internal/pkg/externalplugins/lgtm/lgtm.go
  internal/pkg/externalplugins/lgtm/lgtm_test.go
  internal/pkg/externalplugins/merge/merge.go
  test/testdata/config_combine.yaml
  test/testdata/config_test.yaml
  test/testdata/config_update.yaml
Due: pull-tichi-validate-prow-yaml, pull-tichi-validate-external-plugin-yaml

fixup! feat: count lgtm only for review approval
  internal/pkg/externalplugins/lgtm/lgtm_test.go
Due: none

fixup! fixup! feat: count lgtm only for review approval
  internal/pkg/externalplugins/lgtm/lgtm_test.go
Due: none

fixup! fixup! fixup! feat: count lgtm only for review approval
  internal/pkg/externalplugins/config_test.go
  internal/pkg/externalplugins/plugins_test.go
Due: none

fixup! fixup! fixup! fixup! feat: count lgtm only for review approval
  internal/pkg/externalplugins/lgtm/lgtm.go
Due: none

Update internal/pkg/externalplugins/merge/merge.go
  internal/pkg/externalplugins/merge/merge.go
Due: none

address comment
  docs/plugins/owners.md
  internal/pkg/externalplugins/lgtm/lgtm.go
Due: none

Update internal/pkg/externalplugins/lgtm/lgtm.go
  internal/pkg/externalplugins/lgtm/lgtm.go
Due: none

fix: do update config_update
  test/testdata/config_update.yaml
Due: none
