Repository ti-community-infra/tichi: changes, and which Prow jobs are due for each by the changed paths.
All: pull-tichi-validate-prow-yaml, pull-tichi-validate-external-plugin-yaml, pull-tichi-validate-labels-yaml, post-tichi-deploy-prow, post-tichi-label-sync

pull-tichi-validate-prow-yaml:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-prow/checkconfig:v20210409-7d5e552c49
      command:
      - /checkconfig
      args:
      - --plugin-config=configs/prow-dev/config/plugins.yaml
      - --config-path=configs/prow-dev/config/config.yaml
      - --job-config-path=configs/prow-dev/jobs
  ...

pull-tichi-validate-external-plugin-yaml:
  decorate: true
  spec:
    containers:
    - image: ticommunityinfra/tichi-check-external-plugin-config:v1.5.1
      command:
      - check-external-plugin-config
      args:
      - --external-plugin-config-path=configs/prow-dev/config/external_plugins_config.yaml

pull-tichi-validate-labels-yaml:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-prow/label_sync:v20210409-7d5e552c49
      command:
      - /app/label_sync/app.binary
      args:
      - --config=configs/prow-dev/config/labels.yaml
      - --confirm=false
      - --only=ti-community-infra/test-dev
      - --token=/etc/github/token
  ...

post-tichi-deploy-prow:
  decorate: true
  spec:
    containers:
    - image: google/cloud-sdk:319.0.0
      command:
      - scripts/deploy.sh
      args:
      - --confirm
      - --config=trusted
      env:
      - name: GOOGLE_APPLICATION_CREDENTIALS
        value: /creds/service-account.json
      volumeMounts:
      - name: creds
  ...

post-tichi-label-sync:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-prow/label_sync:v20210409-7d5e552c49
      command:
      - /app/label_sync/app.binary
      args:
      - --config=configs/prow-dev/config/labels.yaml
      - --confirm=true
      - --only=ti-community-infra/test-dev
      - --token=/etc/github/token
  ...

Use PR number as title
  internal/pkg/rerere/rerere.go
  internal/pkg/rerere/rerere_test.go
Due: none

Use PR number as title
  internal/pkg/rerere/rerere.go
Due: none

feat: revert rerere component (#613)
  .goreleaser.yml
  cmd/rerere/main.go
  deployments/components/rerere/Dockerfile
  docs/README.md
  docs/_sidebar.md
  docs/components/rerere.md
  internal/pkg/rerere/rerere.go
  internal/pkg/rerere/rerere_test.go
Due: none

deploy: f6cbbe4b4583480a691898581693e4f8a6dbc53b
  README.md
  _sidebar.md
  components/rerere.md
Due: none

build: bump all ti plugins version
  .prow.yaml
  configs/prow-dev/cluster/ti_community_autoresponder_deployment.yaml
  configs/prow-dev/cluster/ti_community_blunderbuss_deployment.yaml
  configs/prow-dev/cluster/ti_community_cherrypicker_deployment.yaml
  configs/prow-dev/cluster/ti_community_contribution_deployment.yaml
  configs/prow-dev/cluster/ti_community_label_blocker_deployment.yaml
  configs/prow-dev/cluster/ti_community_label_deployment.yaml
  configs/prow-dev/cluster/ti_community_lgtm_deployment.yaml
  configs/prow-dev/cluster/ti_community_merge_deployment.yaml
  configs/prow-dev/cluster/ti_community_owners_deployment.yaml
  configs/prow-dev/cluster/ti_community_tars_deployment.yaml
  configs/prow-dev/cluster/tichi_web_deployment.yaml
  configs/prow-dev/config/config.yaml
  configs/prow-dev/config/external_plugins_config.yaml
  configs/prow-dev/config/plugins.yaml
Due: pull-tichi-validate-prow-yaml, pull-tichi-validate-external-plugin-yaml, post-tichi-deploy-prow

build: bump all ti plugins version (#617)
  .prow.yaml
  configs/prow-dev/cluster/ti_community_autoresponder_deployment.yaml
  configs/prow-dev/cluster/ti_community_blunderbuss_deployment.yaml
  configs/prow-dev/cluster/ti_community_cherrypicker_deployment.yaml
  configs/prow-dev/cluster/ti_community_contribution_deployment.yaml
  configs/prow-dev/cluster/ti_community_label_blocker_deployment.yaml
  configs/prow-dev/cluster/ti_community_label_deployment.yaml
  configs/prow-dev/cluster/ti_community_lgtm_deployment.yaml
  configs/prow-dev/cluster/ti_community_merge_deployment.yaml
  configs/prow-dev/cluster/ti_community_owners_deployment.yaml
  configs/prow-dev/cluster/ti_community_tars_deployment.yaml
  configs/prow-dev/cluster/tichi_web_deployment.yaml
  configs/prow-dev/config/config.yaml
  configs/prow-dev/config/external_plugins_config.yaml
  configs/prow-dev/config/plugins.yaml
Due: pull-tichi-validate-prow-yaml, pull-tichi-validate-external-plugin-yaml, post-tichi-deploy-prow

config(test-dev): stop block LGT labels
  configs/prow-dev/config/external_plugins_config.yaml
Due: pull-tichi-validate-prow-yaml, pull-tichi-validate-external-plugin-yaml

config(test-dev): stop block LGT labels (#622)
  configs/prow-dev/config/external_plugins_config.yaml
Due: pull-tichi-validate-prow-yaml, pull-tichi-validate-external-plugin-yaml

ci: enable rerere for tichi
  .github/workflows/golangci-lint.yml
  .prow.yaml
Due: none

ci: enable rerere for tichi
  .prow.yaml
Due: none

ci: enable rerere for tichi (#624)
  .github/workflows/golangci-lint.yml
  .prow.yaml
Due: none

fix(rerere): Check every minute
  internal/pkg/rerere/rerere.go
Due: none

fix(rerere): Check every minute (#625)
  internal/pkg/rerere/rerere.go
Due: none

build: bump all ti plugins version
  .prow.yaml
  configs/prow-dev/cluster/ti_community_autoresponder_deployment.yaml
  configs/prow-dev/cluster/ti_community_blunderbuss_deployment.yaml
  configs/prow-dev/cluster/ti_community_cherrypicker_deployment.yaml
  configs/prow-dev/cluster/ti_community_contribution_deployment.yaml
  configs/prow-dev/cluster/ti_community_label_blocker_deployment.yaml
  configs/prow-dev/cluster/ti_community_label_deployment.yaml
  configs/prow-dev/cluster/ti_community_lgtm_deployment.yaml
  configs/prow-dev/cluster/ti_community_merge_deployment.yaml
  configs/prow-dev/cluster/ti_community_owners_deployment.yaml
  configs/prow-dev/cluster/ti_community_tars_deployment.yaml
  configs/prow-dev/cluster/tichi_web_deployment.yaml
Due: pull-tichi-validate-prow-yaml, post-tichi-deploy-prow

build: bump all ti plugins version (#626)
  .prow.yaml
  configs/prow-dev/cluster/ti_community_autoresponder_deployment.yaml
  configs/prow-dev/cluster/ti_community_blunderbuss_deployment.yaml
  configs/prow-dev/cluster/ti_community_cherrypicker_deployment.yaml
  configs/prow-dev/cluster/ti_community_contribution_deployment.yaml
  configs/prow-dev/cluster/ti_community_label_blocker_deployment.yaml
  configs/prow-dev/cluster/ti_community_label_deployment.yaml
  configs/prow-dev/cluster/ti_community_lgtm_deployment.yaml
  configs/prow-dev/cluster/ti_community_merge_deployment.yaml
  configs/prow-dev/cluster/ti_community_owners_deployment.yaml
  configs/prow-dev/cluster/ti_community_tars_deployment.yaml
  configs/prow-dev/cluster/tichi_web_deployment.yaml
Due: pull-tichi-validate-prow-yaml, post-tichi-deploy-prow

build: Bump prow from v20210617-4b498df7d4 to v20210701-3efe91b8cd
  .prow.yaml
  configs/prow-dev/cluster/branchprotector.yaml
  configs/prow-dev/cluster/crier_deployment.yaml
  configs/prow-dev/cluster/deck_deployment.yaml
  configs/prow-dev/cluster/ghproxy.yaml
  configs/prow-dev/cluster/hook_deployment.yaml
  configs/prow-dev/cluster/horologium_deployment.yaml
  configs/prow-dev/cluster/label_sync.yaml
  configs/prow-dev/cluster/needs-rebase_deployment.yaml
  configs/prow-dev/cluster/prow_controller_manager_deployment.yaml
  configs/prow-dev/cluster/sinker_deployment.yaml
  configs/prow-dev/cluster/statusreconciler_deployment.yaml
  configs/prow-dev/cluster/tide_deployment.yaml
  configs/prow-dev/config/config.yaml
  configs/prow-dev/jobs/ti-community-infra/test-dev/rustin-bot-periodics.yaml
  docs/en/tools/autobump.md
  docs/tools/autobump.md
Due: pull-tichi-validate-prow-yaml, post-tichi-deploy-prow

build: Bump prow from v20210617-4b498df7d4 to v20210701-3efe91b8cd (#614)
  .prow.yaml
  configs/prow-dev/cluster/branchprotector.yaml
  configs/prow-dev/cluster/crier_deployment.yaml
  configs/prow-dev/cluster/deck_deployment.yaml
  configs/prow-dev/cluster/ghproxy.yaml
  configs/prow-dev/cluster/hook_deployment.yaml
  configs/prow-dev/cluster/horologium_deployment.yaml
  configs/prow-dev/cluster/label_sync.yaml
  configs/prow-dev/cluster/needs-rebase_deployment.yaml
  configs/prow-dev/cluster/prow_controller_manager_deployment.yaml
  configs/prow-dev/cluster/sinker_deployment.yaml
  configs/prow-dev/cluster/statusreconciler_deployment.yaml
  configs/prow-dev/cluster/tide_deployment.yaml
  configs/prow-dev/config/config.yaml
  configs/prow-dev/jobs/ti-community-infra/test-dev/rustin-bot-periodics.yaml
  docs/en/tools/autobump.md
  docs/tools/autobump.md
Due: pull-tichi-validate-prow-yaml, post-tichi-deploy-prow

deploy: 3faa45d8c80b43e77f771f948035364f1fc08250
  en/tools/autobump.md
  tools/autobump.md
Due: none

build: Bump golangci-lint from 1.31.0 to 1.41.1
  Makefile
Due: none

feat: add auto_request_review option for cherrypicker
  internal/pkg/externalplugins/cherrypicker/cherrypicker.go
  internal/pkg/externalplugins/cherrypicker/cherrypicker_test.go
  internal/pkg/externalplugins/config.go
Due: none

feat: update docs for auto_request_review option
  docs/en/plugins/cherrypicker.md
  docs/plugins/cherrypicker.md
  internal/pkg/externalplugins/cherrypicker/cherrypicker.go
Due: none

fix: fix docs
  docs/en/plugins/cherrypicker.md
  docs/plugins/cherrypicker.md
Due: none

feat: support generate labels.md
  .prow.yaml
  configs/prow-dev/.gitignore
  configs/prow-dev/config/labels.md
  configs/prow-dev/config/labels.md.tmpl
  scripts/update-labels.sh
  scripts/verify-labels.sh
Due: pull-tichi-validate-prow-yaml

feat: support generate labels.md
  .prow.yaml
Due: none

feat: support generate labels.md
  configs/prow-dev/config/labels.md
Due: pull-tichi-validate-prow-yaml

refactor: add comments
  scripts/update-labels.sh
  scripts/verify-labels.sh
Due: none

refactor: fix broken links
  configs/prow-dev/config/labels.md
  configs/prow-dev/config/labels.md.tmpl
Due: pull-tichi-validate-prow-yaml

Update configs/prow-dev/config/labels.md
  configs/prow-dev/config/labels.md
Due: pull-tichi-validate-prow-yaml

Update configs/prow-dev/config/labels.md.tmpl
  configs/prow-dev/config/labels.md.tmpl
Due: pull-tichi-validate-prow-yaml

fix: remove deprecated lint plugins
  .github/workflows/golangci-lint.yml
  .golangci.yml
  cmd/check-external-plugin-config/main.go
  internal/pkg/externalplugins/config.go
Due: none

refactor: fix broken md
  configs/prow-dev/config/labels.md
Due: pull-tichi-validate-prow-yaml

feat: support generate labels.md (#632)
  .prow.yaml
  configs/prow-dev/.gitignore
  configs/prow-dev/config/labels.md
  configs/prow-dev/config/labels.md.tmpl
  scripts/update-labels.sh
  scripts/verify-labels.sh
Due: pull-tichi-validate-prow-yaml

build: Bump golangci-lint from 1.31.0 to 1.41.1 (#630)
  .github/workflows/golangci-lint.yml
  .golangci.yml
  Makefile
  cmd/check-external-plugin-config/main.go
  internal/pkg/externalplugins/config.go
Due: none

fix: remove request review feature from cherrypicker
  docs/en/plugins/cherrypicker.md
  docs/plugins/cherrypicker.md
  internal/pkg/externalplugins/cherrypicker/cherrypicker.go
  internal/pkg/externalplugins/cherrypicker/cherrypicker_test.go
Due: none

fix: remove cfg
  internal/pkg/externalplugins/config.go
Due: none

fix: fix typo
  internal/pkg/externalplugins/cherrypicker/cherrypicker.go
Due: none

feat: remove request review feature from cherrypicker (#631)
  docs/en/plugins/cherrypicker.md
  docs/plugins/cherrypicker.md
  internal/pkg/externalplugins/cherrypicker/cherrypicker.go
  internal/pkg/externalplugins/cherrypicker/cherrypicker_test.go
Due: none

deploy: be070ca4adfcfbfadba72bf34a30fe5297709894
  en/plugins/cherrypicker.md
  plugins/cherrypicker.md
Due: none

build: bump all ti plugins version (#637)
  .prow.yaml
  configs/prow-dev/cluster/ti_community_autoresponder_deployment.yaml
  configs/prow-dev/cluster/ti_community_blunderbuss_deployment.yaml
  configs/prow-dev/cluster/ti_community_cherrypicker_deployment.yaml
  configs/prow-dev/cluster/ti_community_contribution_deployment.yaml
  configs/prow-dev/cluster/ti_community_label_blocker_deployment.yaml
  configs/prow-dev/cluster/ti_community_label_deployment.yaml
  configs/prow-dev/cluster/ti_community_lgtm_deployment.yaml
  configs/prow-dev/cluster/ti_community_merge_deployment.yaml
  configs/prow-dev/cluster/ti_community_owners_deployment.yaml
  configs/prow-dev/cluster/ti_community_tars_deployment.yaml
  configs/prow-dev/cluster/tichi_web_deployment.yaml
Due: pull-tichi-validate-prow-yaml, post-tichi-deploy-prow

Path conditions:
  pull-tichi-validate-prow-yaml: any of: configs/prow-dev/
  pull-tichi-validate-external-plugin-yaml: any of: configs/prow-dev/config/external_plugins_config.yaml
  pull-tichi-validate-labels-yaml: any of: configs/prow-dev/config/labels.yaml
  post-tichi-deploy-prow: any of: configs/prow-dev/cluster/
  post-tichi-label-sync: any of: configs/prow-dev/config/labels.yaml
