Repository ti-community-infra/tichi: changes, and which Prow jobs are due for each by the changed paths.
All: pull-ti-community-prow-validate-prow-yaml, post-ti-community-prow-label-sync, post-ti-community-prow-deploy-prow

pull-ti-community-prow-validate-prow-yaml:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-prow/checkconfig:v20201124-061f85d859
      command:
      - /checkconfig
      args:
      - --plugin-config=configs/prow-dev/config/plugins.yaml
      - --config-path=configs/prow-dev/config/config.yaml
      - --warnings=validate-urls
  ...

post-ti-community-prow-label-sync:
  decorate: true
  labels:
    app: label-sync
  spec:
    containers:
    - image: gcr.io/k8s-prow/label_sync:v20201124-061f85d859
      command:
      - /app/label_sync/app.binary
      args:
      - --config=configs/prow-dev/config/labels.yaml
      - --confirm=true
      - --only=tidb-community-bots/test-dev
  ...

post-ti-community-prow-deploy-prow:
  decorate: true
  spec:
    containers:
    - image: google/cloud-sdk:319.0.0
      command:
      - scripts/deploy.sh
      args:
      - --confirm
      - --config=trusted
      env:
      - name: GOOGLE_APPLICATION_CREDENTIALS
        value: /creds/service-account.json
      volumeMounts:
      - name: creds
  ...

build: bump ti plugins verstion from v0.16.4 to v0.16.5
  configs/prow-dev/cluster/ti_community_autoresponder_deployment.yaml
  configs/prow-dev/cluster/ti_community_blunderbuss_deployment.yaml
  configs/prow-dev/cluster/ti_community_label_deployment.yaml
  configs/prow-dev/cluster/ti_community_lgtm_deployment.yaml
  configs/prow-dev/cluster/ti_community_merge_deployment.yaml
  configs/prow-dev/cluster/ti_community_owners_deployment.yaml
  configs/prow-dev/cluster/ti_community_tars_deployment.yaml
Due: pull-ti-community-prow-validate-prow-yaml, post-ti-community-prow-deploy-prow

build: bump ti plugins verstion from v0.16.4 to v0.16.5 (#224)
  configs/prow-dev/cluster/ti_community_autoresponder_deployment.yaml
  configs/prow-dev/cluster/ti_community_blunderbuss_deployment.yaml
  configs/prow-dev/cluster/ti_community_label_deployment.yaml
  configs/prow-dev/cluster/ti_community_lgtm_deployment.yaml
  configs/prow-dev/cluster/ti_community_merge_deployment.yaml
  configs/prow-dev/cluster/ti_community_owners_deployment.yaml
  configs/prow-dev/cluster/ti_community_tars_deployment.yaml
Due: pull-ti-community-prow-validate-prow-yaml, post-ti-community-prow-deploy-prow

update code
  web/README.md
Due: none

docs
  web/README.md
Due: none

feat: add Owner page (#191)
  .github/workflows/web.yml
  web/README.md
  web/package.json
  web/pages/[org]/[repo]/pulls/[num]/owners.module.scss
  web/pages/[org]/[repo]/pulls/[num]/owners.tsx
  web/pages/api/hello.js
  web/pages/index.tsx
  web/tsconfig.json
  web/types/owners.ts
  web/utils/constant.ts
  web/utils/request.ts
Due: none

config: remove LGTM regex
  configs/prow-dev/config/external_plugins_config.yaml
Due: pull-ti-community-prow-validate-prow-yaml

config: add more items
  configs/prow-dev/config/external_plugins_config.yaml
  configs/prow-dev/config/plugins.yaml
Due: pull-ti-community-prow-validate-prow-yaml

config: fix typo
  configs/prow-dev/config/external_plugins_config.yaml
Due: pull-ti-community-prow-validate-prow-yaml

config: fix typo
  docs/src/plugins/owners.md
Due: none

config: fix typo
  configs/prow-dev/config/plugins.yaml
Due: pull-ti-community-prow-validate-prow-yaml

config: add more configuration items for test-dev (#225)
  configs/prow-dev/config/external_plugins_config.yaml
  configs/prow-dev/config/plugins.yaml
  docs/src/plugins/owners.md
Due: pull-ti-community-prow-validate-prow-yaml

deploy: ea16aa3380767ba0f2eb7ea69c8690707163a58a
  plugins/owners.html
  print.html
  searchindex.js
  searchindex.json
Due: none

chore: add TODO
  internal/pkg/externalplugins/config.go
Due: none

chore: bump the test-infra version
  cmd/ticommunitytars/main.go
  go.mod
  go.sum
  internal/pkg/externalplugins/lgtm/lgtm.go
  internal/pkg/externalplugins/merge/merge.go
  internal/pkg/externalplugins/merge/merge_test.go
  internal/pkg/externalplugins/tars/tars.go
  internal/pkg/externalplugins/tars/tars_test.go
Due: none

chore: bump the test-infra version (#227)
  cmd/ticommunitytars/main.go
  go.mod
  go.sum
  internal/pkg/externalplugins/lgtm/lgtm.go
  internal/pkg/externalplugins/merge/merge.go
  internal/pkg/externalplugins/merge/merge_test.go
  internal/pkg/externalplugins/tars/tars.go
  internal/pkg/externalplugins/tars/tars_test.go
Due: none

feat: blunderbuss supports re-cc to reviewers when sig label added
  internal/pkg/externalplugins/blunderbuss/blunderbuss.go
  internal/pkg/externalplugins/blunderbuss/blunderbuss_test.go
  internal/pkg/externalplugins/config.go
  internal/pkg/externalplugins/config_test.go
Due: none

refactor: move the sig label check to the handle of different events
  internal/pkg/externalplugins/blunderbuss/blunderbuss.go
Due: none

fix: replace with more accurate variable names
  internal/pkg/externalplugins/blunderbuss/blunderbuss.go
  internal/pkg/externalplugins/blunderbuss/blunderbuss_test.go
Due: none

feat: organize the code and perfect test
  internal/pkg/externalplugins/blunderbuss/blunderbuss.go
  internal/pkg/externalplugins/blunderbuss/blunderbuss_test.go
Due: none

fix: fix the containSigLabel function
  internal/pkg/externalplugins/blunderbuss/blunderbuss.go
Due: none

fix
  internal/pkg/externalplugins/blunderbuss/blunderbuss.go
  internal/pkg/externalplugins/blunderbuss/blunderbuss_test.go
  internal/pkg/externalplugins/config.go
Due: none

fix: rename
  internal/pkg/externalplugins/blunderbuss/blunderbuss_test.go
Due: none

doc: update blunderbuss doc
  docs/src/plugins/blunderbuss.md
  internal/pkg/externalplugins/config.go
Due: none

doc: append question and answer
  docs/src/plugins/blunderbuss.md
Due: none

docs: add new line
  docs/src/plugins/blunderbuss.md
Due: none

feat: blunderbuss supports re-cc to reviewers when sig label added (#228)
  docs/src/plugins/blunderbuss.md
  internal/pkg/externalplugins/blunderbuss/blunderbuss.go
  internal/pkg/externalplugins/blunderbuss/blunderbuss_test.go
  internal/pkg/externalplugins/config.go
  internal/pkg/externalplugins/config_test.go
Due: none

deploy: 108693ae7977835632d3809e42e79e4976f1c21f
  plugins/blunderbuss.html
  print.html
  searchindex.js
  searchindex.json
Due: none

fix: add waiting time for rerere
  cmd/rerere/main.go
  configs/prow-dev/config/config.yaml
  internal/pkg/externalplugins/merge/merge.go
Due: pull-ti-community-prow-validate-prow-yaml

fix: add waiting time for rerere (#232)
  cmd/rerere/main.go
  configs/prow-dev/config/config.yaml
  internal/pkg/externalplugins/merge/merge.go
Due: pull-ti-community-prow-validate-prow-yaml

build: bump ti plugins verstion from v0.16.5 to v0.16.6
  configs/prow-dev/cluster/ti_community_autoresponder_deployment.yaml
  configs/prow-dev/cluster/ti_community_blunderbuss_deployment.yaml
  configs/prow-dev/cluster/ti_community_label_deployment.yaml
  configs/prow-dev/cluster/ti_community_lgtm_deployment.yaml
  configs/prow-dev/cluster/ti_community_merge_deployment.yaml
  configs/prow-dev/cluster/ti_community_owners_deployment.yaml
  configs/prow-dev/cluster/ti_community_tars_deployment.yaml
Due: pull-ti-community-prow-validate-prow-yaml, post-ti-community-prow-deploy-prow

build: bump ti plugins verstion from v0.16.5 to v0.16.6
  .prow.yaml
Due: none

fix: refine trigger
  .prow.yaml
Due: none

build: bump ti plugins verstion from v0.16.5 to v0.16.6 (#234)
  .prow.yaml
  configs/prow-dev/cluster/ti_community_autoresponder_deployment.yaml
  configs/prow-dev/cluster/ti_community_blunderbuss_deployment.yaml
  configs/prow-dev/cluster/ti_community_label_deployment.yaml
  configs/prow-dev/cluster/ti_community_lgtm_deployment.yaml
  configs/prow-dev/cluster/ti_community_merge_deployment.yaml
  configs/prow-dev/cluster/ti_community_owners_deployment.yaml
  configs/prow-dev/cluster/ti_community_tars_deployment.yaml
Due: pull-ti-community-prow-validate-prow-yaml, post-ti-community-prow-deploy-prow

config: add sig configuration items for testing blunderbuss on test-dev
  configs/prow-dev/config/external_plugins_config.yaml
Due: pull-ti-community-prow-validate-prow-yaml

config: add sig configuration items for testing blunderbuss on test-dev (#235)
  configs/prow-dev/config/external_plugins_config.yaml
Due: pull-ti-community-prow-validate-prow-yaml

config: fix the default sig name option
  configs/prow-dev/config/external_plugins_config.yaml
Due: pull-ti-community-prow-validate-prow-yaml

config: fix the default sig name option (#236)
  configs/prow-dev/config/external_plugins_config.yaml
Due: pull-ti-community-prow-validate-prow-yaml

docs: add rerere component
  docs/src/SUMMARY.md
  docs/src/components/rerere.md
  docs/src/workflows/pr.md
Due: none

docs: add rerere component (#237)
  docs/src/SUMMARY.md
  docs/src/components/rerere.md
  docs/src/workflows/pr.md
Due: none

Path conditions:
  pull-ti-community-prow-validate-prow-yaml: any of: configs/prow-dev/
  post-ti-community-prow-label-sync: any of: configs/prow-dev/config/labels.yaml
  post-ti-community-prow-deploy-prow: any of: configs/prow-dev/cluster/
