Repository ti-community-infra/tichi: changes, and which Prow jobs are due for each by the changed paths.
All: pull-ti-community-prow-validate-prow-yaml, post-ti-community-prow-label-sync, post-ti-community-prow-deploy-prow

.prow.yaml:

presubmits:
  - name: pull-ti-community-prow-validate-prow-yaml
    decorate: true
    run_if_changed: 'configs/prow-dev/'
    branches:
      - ^master$
    spec:
      containers:
        - image: gcr.io/k8s-prow/checkconfig:v20201124-061f85d859
          command:
            - /checkconfig
          args:
            - --plugin-config=configs/prow-dev/config/plugins.yaml
            - --config-path=configs/prow-dev/config/config.yaml
            - --warnings=validate-urls
            - --warnings=unknown-fields
            - --warnings=duplicate-job-refs
  - name: post-ti-community-prow-label-sync
    decorate: true
    labels:
      app: label-sync
    run_if_changed: 'configs/prow-dev/config/labels.yaml'
    branches:
      - ^master$
    spec:
      containers:
        - image: gcr.io/k8s-prow/label_sync:v20201124-061f85d859
          command:
            - /app/label_sync/app.binary
          args:
            - --config=configs/prow-dev/config/labels.yaml
            - --confirm=true
            - --only=tidb-community-bots/test-dev
            - --token=/etc/github/token
          volumeMounts:
            - name: github-token
              mountPath: /etc/github
              readOnly: true
      volumes:
        - name: github-token
          secret:
            secretName: github-token
postsubmits:
  - name: post-ti-community-prow-deploy-prow
    run_if_changed: 'configs/prow-dev/cluster/'
    decorate: true
    branches:
      - ^master$
    max_concurrency: 1
    spec:
      containers:
        - image: google/cloud-sdk:319.0.0
          command:
            - scripts/deploy.sh
          args:
            - --confirm
            - --config=trusted
          env:
            - name: GOOGLE_APPLICATION_CREDENTIALS
              value: /creds/service-account.json
          volumeMounts:
            - name: creds
              mountPath: /creds
      volumes:
        - name: creds
          secret:
            secretName: deployer-credentials
    annotations:
      description: deploys the configured version of prow by running scripts/deploy.sh

ci: fix typo
  .prow.yaml
Due: none

ci: revert
  .prow.yaml
  configs/prow-dev/cluster/label_sync.yaml
Due: pull-ti-community-prow-validate-prow-yaml, post-ti-community-prow-deploy-prow

ci: revert
  configs/prow-dev/cluster/label_sync.yaml
Due: pull-ti-community-prow-validate-prow-yaml, post-ti-community-prow-deploy-prow

feat: label support ExcludeLabels
  internal/pkg/externalplugins/config.go
  internal/pkg/externalplugins/label/label.go
Due: none

fix: rename
  internal/pkg/externalplugins/label/label_test.go
Due: none

test: add cases
  internal/pkg/externalplugins/label/label.go
  internal/pkg/externalplugins/label/label_test.go
Due: none

fix: add logs
  internal/pkg/externalplugins/label/label.go
Due: none

fix: update helper
  internal/pkg/externalplugins/label/label.go
  internal/pkg/externalplugins/label/label_test.go
Due: none

docs: update label
  docs/src/plugins/label.md
Due: none

config: setting defalut labels (#176)
  configs/prow-dev/cluster/label_sync.yaml
  configs/prow-dev/config/labels.yaml
Due: pull-ti-community-prow-validate-prow-yaml, post-ti-community-prow-label-sync, post-ti-community-prow-deploy-prow

feat: label support ExcludeLabels (#177)
  docs/src/plugins/label.md
  internal/pkg/externalplugins/config.go
  internal/pkg/externalplugins/label/label.go
  internal/pkg/externalplugins/label/label_test.go
Due: none

deploy: 687aca7d885a75a266a756e962b9858a6e7a6c47
  plugins/label.html
  print.html
  searchindex.js
  searchindex.json
Due: none

build: bump the version
  configs/prow-dev/cluster/ti_community_autoresponder_deployment.yaml
  configs/prow-dev/cluster/ti_community_blunderbuss_deployment.yaml
  configs/prow-dev/cluster/ti_community_label_deployment.yaml
  configs/prow-dev/cluster/ti_community_lgtm_deployment.yaml
  configs/prow-dev/cluster/ti_community_merge_deployment.yaml
  configs/prow-dev/cluster/ti_community_owners_deployment.yaml
  configs/prow-dev/cluster/ti_community_tars_deployment.yaml
Due: pull-ti-community-prow-validate-prow-yaml, post-ti-community-prow-deploy-prow

build: bump the version (#178)
  configs/prow-dev/cluster/ti_community_autoresponder_deployment.yaml
  configs/prow-dev/cluster/ti_community_blunderbuss_deployment.yaml
  configs/prow-dev/cluster/ti_community_label_deployment.yaml
  configs/prow-dev/cluster/ti_community_lgtm_deployment.yaml
  configs/prow-dev/cluster/ti_community_merge_deployment.yaml
  configs/prow-dev/cluster/ti_community_owners_deployment.yaml
  configs/prow-dev/cluster/ti_community_tars_deployment.yaml
Due: pull-ti-community-prow-validate-prow-yaml, post-ti-community-prow-deploy-prow

chore: remove useless comments
  .gitignore
Due: none

chore: remove useless comments (#179)
  .gitignore
Due: none

config: add exclude_labels for test-dev
  configs/prow-dev/config/external_plugins_config.yaml
Due: pull-ti-community-prow-validate-prow-yaml

config: add exclude_labels for test-dev (#180)
  configs/prow-dev/config/external_plugins_config.yaml
Due: pull-ti-community-prow-validate-prow-yaml

feat: add label-dumpling
  .gitignore
  experiment/README.md
  experiment/label-dumpling/.gitignore
  experiment/label-dumpling/Cargo.toml
  experiment/label-dumpling/src/main.rs
Due: none

fix: refine code
  experiment/label-dumpling/src/main.rs
Due: none

fix: refine
  experiment/label-dumpling/src/main.rs
Due: none

fix: add more attributes
  experiment/label-dumpling/Cargo.toml
  experiment/label-dumpling/src/main.rs
Due: none

feat: add label-dumpling (#182)
  .gitignore
  experiment/README.md
  experiment/label-dumpling/.gitignore
  experiment/label-dumpling/Cargo.toml
  experiment/label-dumpling/src/main.rs
Due: none

chore: refine .gitattributes
  .gitattributes
Due: none

chore: refine .gitattributes (#183)
  .gitattributes
Due: none

feat: add phony-rs
  experiment/.gitignore
  experiment/phony-rs/Cargo.toml
  experiment/phony-rs/src/main.rs
Due: none

fix: refine clippy
  experiment/phony-rs/src/main.rs
Due: none

feat: add html
  experiment/phony-rs/Cargo.toml
  experiment/phony-rs/src/main.rs
  experiment/phony-rs/static/index.html
Due: none

fix: refine typos
  experiment/phony-rs/static/index.html
Due: none

fix: refine code
  experiment/phony-rs/src/main.rs
  experiment/phony-rs/static/index.html
Due: none

test: add tests
  experiment/phony-rs/src/main.rs
Due: none

docs: add reaeme
  experiment/phony-rs/README.md
Due: none

fix: delay tars reply
  internal/pkg/externalplugins/tars/tars.go
Due: none

fix: refine typo
  internal/pkg/externalplugins/tars/tars.go
Due: none

feat: add phony-rs (#184)
  experiment/.gitignore
  experiment/phony-rs/Cargo.toml
  experiment/phony-rs/README.md
  experiment/phony-rs/src/main.rs
  experiment/phony-rs/static/index.html
Due: none

fix: delay tars reply (#185)
  internal/pkg/externalplugins/tars/tars.go
Due: none

build: bump version
  configs/prow-dev/cluster/ti_community_autoresponder_deployment.yaml
  configs/prow-dev/cluster/ti_community_blunderbuss_deployment.yaml
  configs/prow-dev/cluster/ti_community_label_deployment.yaml
  configs/prow-dev/cluster/ti_community_lgtm_deployment.yaml
  configs/prow-dev/cluster/ti_community_merge_deployment.yaml
  configs/prow-dev/cluster/ti_community_owners_deployment.yaml
  configs/prow-dev/cluster/ti_community_tars_deployment.yaml
Due: pull-ti-community-prow-validate-prow-yaml, post-ti-community-prow-deploy-prow

build: bump version
  .prow.yaml
  configs/prow-dev/cluster/branchprotector.yaml
  configs/prow-dev/cluster/crier_deployment.yaml
  configs/prow-dev/cluster/deck_deployment.yaml
  configs/prow-dev/cluster/ghproxy.yaml
  configs/prow-dev/cluster/hook_deployment.yaml
  configs/prow-dev/cluster/horologium_deployment.yaml
  configs/prow-dev/cluster/label_sync.yaml
  configs/prow-dev/cluster/needs-rebase_deployment.yaml
  configs/prow-dev/cluster/plank_deployment.yaml
  configs/prow-dev/cluster/prow_controller_manager_deployment.yaml
  configs/prow-dev/cluster/sinker_deployment.yaml
  configs/prow-dev/cluster/statusreconciler_deployment.yaml
  configs/prow-dev/cluster/tide_deployment.yaml
  configs/prow-dev/config/config.yaml
Due: pull-ti-community-prow-validate-prow-yaml, post-ti-community-prow-deploy-prow

build: bump version (#186)
  .prow.yaml
  configs/prow-dev/cluster/branchprotector.yaml
  configs/prow-dev/cluster/crier_deployment.yaml
  configs/prow-dev/cluster/deck_deployment.yaml
  configs/prow-dev/cluster/ghproxy.yaml
  configs/prow-dev/cluster/hook_deployment.yaml
  configs/prow-dev/cluster/horologium_deployment.yaml
  configs/prow-dev/cluster/label_sync.yaml
  configs/prow-dev/cluster/needs-rebase_deployment.yaml
  configs/prow-dev/cluster/plank_deployment.yaml
  configs/prow-dev/cluster/prow_controller_manager_deployment.yaml
  configs/prow-dev/cluster/sinker_deployment.yaml
  configs/prow-dev/cluster/statusreconciler_deployment.yaml
  configs/prow-dev/cluster/ti_community_autoresponder_deployment.yaml
  configs/prow-dev/cluster/ti_community_blunderbuss_deployment.yaml
  configs/prow-dev/cluster/ti_community_label_deployment.yaml
  configs/prow-dev/cluster/ti_community_lgtm_deployment.yaml
  configs/prow-dev/cluster/ti_community_merge_deployment.yaml
  configs/prow-dev/cluster/ti_community_owners_deployment.yaml
  configs/prow-dev/cluster/ti_community_tars_deployment.yaml
  configs/prow-dev/cluster/tide_deployment.yaml
  configs/prow-dev/config/config.yaml
Due: pull-ti-community-prow-validate-prow-yaml, post-ti-community-prow-deploy-prow
