Repository ti-community-infra/tichi: changes, and which Prow jobs are due for each by the changed paths.
All: pull-ti-community-prow-validate-prow-yaml, post-ti-community-prow-label-sync, post-ti-community-prow-deploy-prow

.prow.yaml:

presubmits:
  - name: pull-ti-community-prow-validate-prow-yaml
    decorate: true
    run_if_changed: 'configs/prow-dev/'
    branches:
      - ^master$
    spec:
      containers:
        - image: gcr.io/k8s-prow/checkconfig:v20201124-061f85d859
          command:
            - /checkconfig
          args:
            - --plugin-config=configs/prow-dev/config/plugins.yaml
            - --config-path=configs/prow-dev/config/config.yaml
            - --warnings=validate-urls
            - --warnings=unknown-fields
            - --warnings=duplicate-job-refs
  - name: post-ti-community-prow-label-sync
    decorate: true
    labels:
      app: label-sync
    run_if_changed: 'configs/prow-dev/config/labels.yaml'
    branches:
      - ^master$
    spec:
      containers:
        - image: gcr.io/k8s-prow/label_sync:v20201124-061f85d859
          command:
            - /app/label_sync/app.binary
          args:
            - --config=configs/prow-dev/config/labels.yaml
            - --confirm=true
            - --only=tidb-community-bots/test-dev
            - --token=/etc/github/token
          volumeMounts:
            - name: github-token
              mountPath: /etc/github
              readOnly: true
      volumes:
        - name: github-token
          secret:
            secretName: github-token
postsubmits:
  - name: post-ti-community-prow-deploy-prow
    run_if_changed: 'configs/prow-dev/cluster/'
    decorate: true
    branches:
      - ^master$
    max_concurrency: 1
    spec:
      containers:
        - image: google/cloud-sdk:319.0.0
          command:
            - scripts/deploy.sh
          args:
            - --confirm
            - --config=trusted
          env:
            - name: GOOGLE_APPLICATION_CREDENTIALS
              value: /creds/service-account.json
          volumeMounts:
            - name: creds
              mountPath: /creds
      volumes:
        - name: creds
          secret:
            secretName: deployer-credentials
    annotations:
      description: deploys the configured version of prow by running scripts/deploy.sh

fix: typo
  .goreleaser.yml
Due: none

fix
  .goreleaser.yml
Due: none

config: add Dockerfile and releaser config for label blocker (#308)
  .goreleaser.yml
  deployments/plugins/labelblocker/Dockerfile
Due: none

deploy: 72ce6a8b31bab9fa391aee6f020c0cee173542ac
  _sidebar.md
  plugins/label-blocker.md
  plugins/label.md
Due: none

build: bump ti plugins verstion from v1.0.1 to v1.1.0
  .prow.yaml
  configs/prow-dev/cluster/ti_community_blunderbuss_deployment.yaml
  configs/prow-dev/cluster/ti_community_label_blocker_deployment.yaml
  configs/prow-dev/cluster/ti_community_label_blocker_service.yaml
  configs/prow-dev/cluster/ti_community_label_deployment.yaml
  configs/prow-dev/cluster/ti_community_lgtm_deployment.yaml
  configs/prow-dev/cluster/ti_community_merge_deployment.yaml
  configs/prow-dev/cluster/ti_community_owners_deployment.yaml
  configs/prow-dev/cluster/ti_community_tars_deployment.yaml
  configs/prow-dev/cluster/tichi_web_deployment.yaml
Due: pull-ti-community-prow-validate-prow-yaml, post-ti-community-prow-deploy-prow

build: bump ti plugins verstion from v1.0.1 to v1.1.0 (#309)
  .prow.yaml
  configs/prow-dev/cluster/ti_community_blunderbuss_deployment.yaml
  configs/prow-dev/cluster/ti_community_label_blocker_deployment.yaml
  configs/prow-dev/cluster/ti_community_label_blocker_service.yaml
  configs/prow-dev/cluster/ti_community_label_deployment.yaml
  configs/prow-dev/cluster/ti_community_lgtm_deployment.yaml
  configs/prow-dev/cluster/ti_community_merge_deployment.yaml
  configs/prow-dev/cluster/ti_community_owners_deployment.yaml
  configs/prow-dev/cluster/ti_community_tars_deployment.yaml
  configs/prow-dev/cluster/tichi_web_deployment.yaml
Due: pull-ti-community-prow-validate-prow-yaml, post-ti-community-prow-deploy-prow

config: add label-blocker for test-dev repo
  configs/prow-dev/config/external_plugins_config.yaml
  configs/prow-dev/config/plugins.yaml
Due: pull-ti-community-prow-validate-prow-yaml

config: remove the issue event for label blocker
  configs/prow-dev/config/plugins.yaml
Due: pull-ti-community-prow-validate-prow-yaml

config: add label-blocker for test-dev repo (#310)
  configs/prow-dev/config/external_plugins_config.yaml
  configs/prow-dev/config/plugins.yaml
Due: pull-ti-community-prow-validate-prow-yaml

config: move the example yaml files into examples
  configs/prow-dev/examples/gcs-secrets.example.yaml
  configs/prow-dev/examples/github-token.example.yaml
  configs/prow-dev/examples/hmac-token.example.yaml
Due: pull-ti-community-prow-validate-prow-yaml

config: move the example yaml files into examples (#311)
  configs/prow-dev/examples/gcs-secrets.example.yaml
  configs/prow-dev/examples/github-token.example.yaml
  configs/prow-dev/examples/hmac-token.example.yaml
Due: pull-ti-community-prow-validate-prow-yaml

fix: fix the escape char
  configs/prow-dev/config/external_plugins_config.yaml
Due: pull-ti-community-prow-validate-prow-yaml

fix: fix the escape char (#312)
  configs/prow-dev/config/external_plugins_config.yaml
Due: pull-ti-community-prow-validate-prow-yaml

feat: support issue event and add reply for label blocker
  cmd/ticommunitylabelblocker/main.go
  go.mod
  go.sum
  internal/pkg/externalplugins/labelblocker/labelblocker.go
Due: none

test: add test for issue event
  internal/pkg/externalplugins/labelblocker/labelblocker_test.go
Due: none

feat: add respond message for label blocker
  internal/pkg/externalplugins/config.go
  internal/pkg/externalplugins/config_test.go
  internal/pkg/externalplugins/labelblocker/labelblocker.go
  internal/pkg/externalplugins/labelblocker/labelblocker_test.go
Due: none

fix: use template instead of string
  internal/pkg/externalplugins/config.go
  internal/pkg/externalplugins/config_test.go
  internal/pkg/externalplugins/labelblocker/labelblocker.go
Due: none

fix: use format response instead of template
  internal/pkg/externalplugins/label/label.go
  internal/pkg/externalplugins/labelblocker/labelblocker.go
  internal/pkg/externalplugins/labelblocker/labelblocker_test.go
Due: none

docs: update doc
  docs/plugins/label-blocker.md
Due: none

fix: fix lll
  internal/pkg/externalplugins/labelblocker/labelblocker_test.go
Due: none

fix: change the response content
  internal/pkg/externalplugins/labelblocker/labelblocker.go
  internal/pkg/externalplugins/labelblocker/labelblocker_test.go
Due: none

feat: support issue event and add reply for label blocker (#314)
  cmd/ticommunitylabelblocker/main.go
  docs/plugins/label-blocker.md
  go.mod
  go.sum
  internal/pkg/externalplugins/config.go
  internal/pkg/externalplugins/config_test.go
  internal/pkg/externalplugins/label/label.go
  internal/pkg/externalplugins/labelblocker/labelblocker.go
  internal/pkg/externalplugins/labelblocker/labelblocker_test.go
Due: none

deploy: 33cf8ab758efbea6f7de46cd93f81ab0be65a8dc
  plugins/label-blocker.md
Due: none

build: bump plugins version
  .prow.yaml
  configs/prow-dev/cluster/ti_community_autoresponder_deployment.yaml
  configs/prow-dev/cluster/ti_community_blunderbuss_deployment.yaml
  configs/prow-dev/cluster/ti_community_label_blocker_deployment.yaml
  configs/prow-dev/cluster/ti_community_label_deployment.yaml
  configs/prow-dev/cluster/ti_community_lgtm_deployment.yaml
  configs/prow-dev/cluster/ti_community_merge_deployment.yaml
  configs/prow-dev/cluster/ti_community_owners_deployment.yaml
  configs/prow-dev/cluster/ti_community_tars_deployment.yaml
  configs/prow-dev/cluster/tichi_web_deployment.yaml
Due: pull-ti-community-prow-validate-prow-yaml, post-ti-community-prow-deploy-prow

build: bump plugins version (#319)
  .prow.yaml
  configs/prow-dev/cluster/ti_community_autoresponder_deployment.yaml
  configs/prow-dev/cluster/ti_community_blunderbuss_deployment.yaml
  configs/prow-dev/cluster/ti_community_label_blocker_deployment.yaml
  configs/prow-dev/cluster/ti_community_label_deployment.yaml
  configs/prow-dev/cluster/ti_community_lgtm_deployment.yaml
  configs/prow-dev/cluster/ti_community_merge_deployment.yaml
  configs/prow-dev/cluster/ti_community_owners_deployment.yaml
  configs/prow-dev/cluster/ti_community_tars_deployment.yaml
  configs/prow-dev/cluster/tichi_web_deployment.yaml
Due: pull-ti-community-prow-validate-prow-yaml, post-ti-community-prow-deploy-prow

config: add message to label blocker
  configs/prow-dev/config/external_plugins_config.yaml
Due: pull-ti-community-prow-validate-prow-yaml

config: add message to label blocker (#320)
  configs/prow-dev/config/external_plugins_config.yaml
Due: pull-ti-community-prow-validate-prow-yaml

config: fix trusted bot name
  configs/prow-dev/config/external_plugins_config.yaml
Due: pull-ti-community-prow-validate-prow-yaml

config: fix trusted bot name (#321)
  configs/prow-dev/config/external_plugins_config.yaml
Due: pull-ti-community-prow-validate-prow-yaml

ci: cleanup label_sync.yaml and make it be a prow job
  .prow.yaml
  configs/prow-dev/cluster/label_sync.yaml
Due: pull-ti-community-prow-validate-prow-yaml, post-ti-community-prow-deploy-prow

ci: fix typo
  .prow.yaml
Due: none

ci: cleanup label_sync.yaml and make it be a prow job (#324)
  .prow.yaml
  configs/prow-dev/cluster/label_sync.yaml
Due: pull-ti-community-prow-validate-prow-yaml, post-ti-community-prow-deploy-prow

feat: add use GitHub permission to owners
  internal/pkg/externalplugins/config.go
  internal/pkg/externalplugins/owners/owners.go
  internal/pkg/externalplugins/owners/owners_test.go
Due: none

refactor: rename
  internal/pkg/externalplugins/owners/owners.go
  internal/pkg/externalplugins/owners/owners_test.go
Due: none

test: add cases
  internal/pkg/externalplugins/owners/owners.go
  internal/pkg/externalplugins/owners/owners_test.go
Due: none

test: add cases
  internal/pkg/externalplugins/owners/owners_test.go
Due: none

docs: add comments
  internal/pkg/externalplugins/config.go
  internal/pkg/externalplugins/owners/owners.go
Due: none

docs: update docs
  docs/plugins/owners.md
Due: none

fix: refine lll
  internal/pkg/externalplugins/owners/owners.go
Due: none
