Repository ti-community-infra/tichi: changes, and which Prow jobs are due for each by the changed paths.
All: pull-ti-community-prow-validate-prow-yaml, post-ti-community-prow-label-sync, post-ti-community-prow-deploy-prow

.prow.yaml:

presubmits:
  - name: pull-ti-community-prow-validate-prow-yaml
    decorate: true
    run_if_changed: 'configs/prow-dev/'
    branches:
      - ^master$
    spec:
      containers:
        - image: gcr.io/k8s-prow/checkconfig:v20201124-061f85d859
          command:
            - /checkconfig
          args:
            - --plugin-config=configs/prow-dev/config/plugins.yaml
            - --config-path=configs/prow-dev/config/config.yaml
            - --warnings=validate-urls
            - --warnings=unknown-fields
            - --warnings=duplicate-job-refs
  - name: post-ti-community-prow-label-sync
    decorate: true
    labels:
      app: label-sync
    run_if_changed: 'configs/prow-dev/config/labels.yaml'
    branches:
      - ^master$
    spec:
      containers:
        - image: gcr.io/k8s-prow/label_sync:v20201124-061f85d859
          command:
            - /app/label_sync/app.binary
          args:
            - --config=configs/prow-dev/config/labels.yaml
            - --confirm=true
            - --only=tidb-community-bots/test-dev
            - --token=/etc/github/token
          volumeMounts:
            - name: github-token
              mountPath: /etc/github
              readOnly: true
      volumes:
        - name: github-token
          secret:
            secretName: github-token
postsubmits:
  - name: post-ti-community-prow-deploy-prow
    run_if_changed: 'configs/prow-dev/cluster/'
    decorate: true
    branches:
      - ^master$
    max_concurrency: 1
    spec:
      containers:
        - image: google/cloud-sdk:319.0.0
          command:
            - scripts/deploy.sh
          args:
            - --confirm
            - --config=trusted
          env:
            - name: GOOGLE_APPLICATION_CREDENTIALS
              value: /creds/service-account.json
          volumeMounts:
            - name: creds
              mountPath: /creds
      volumes:
        - name: creds
          secret:
            secretName: deployer-credentials
    annotations:
      description: deploys the configured version of prow by running scripts/deploy.sh

config: bump the plugins version from v0.17.3 to v0.17.4
  .prow.yaml
  configs/prow-dev/cluster/ti_community_autoresponder_deployment.yaml
  configs/prow-dev/cluster/ti_community_blunderbuss_deployment.yaml
  configs/prow-dev/cluster/ti_community_label_deployment.yaml
  configs/prow-dev/cluster/ti_community_lgtm_deployment.yaml
  configs/prow-dev/cluster/ti_community_merge_deployment.yaml
  configs/prow-dev/cluster/ti_community_owners_deployment.yaml
  configs/prow-dev/cluster/ti_community_tars_deployment.yaml
  configs/prow-dev/cluster/tichi_web_deployment.yaml
  configs/prow-dev/config/config.yaml
Due: pull-ti-community-prow-validate-prow-yaml, post-ti-community-prow-deploy-prow

config: refactor
  configs/prow-dev/cluster/tichi_web_deployment.yaml
Due: pull-ti-community-prow-validate-prow-yaml, post-ti-community-prow-deploy-prow

config: bump the plugins version from v0.17.3 to v0.17.4 (#284)
  .prow.yaml
  configs/prow-dev/cluster/ti_community_autoresponder_deployment.yaml
  configs/prow-dev/cluster/ti_community_blunderbuss_deployment.yaml
  configs/prow-dev/cluster/ti_community_label_deployment.yaml
  configs/prow-dev/cluster/ti_community_lgtm_deployment.yaml
  configs/prow-dev/cluster/ti_community_merge_deployment.yaml
  configs/prow-dev/cluster/ti_community_owners_deployment.yaml
  configs/prow-dev/cluster/ti_community_tars_deployment.yaml
  configs/prow-dev/cluster/tichi_web_deployment.yaml
  configs/prow-dev/config/config.yaml
Due: pull-ti-community-prow-validate-prow-yaml, post-ti-community-prow-deploy-prow

config: refine web url
  configs/prow-dev/config/config.yaml
  configs/prow-dev/config/external_plugins_config.yaml
Due: pull-ti-community-prow-validate-prow-yaml

fix: refine owner url
  web/pages/repos/[org]/[repo]/pulls/[num]/owners.module.scss
  web/pages/repos/[org]/[repo]/pulls/[num]/owners.tsx
Due: none

config: refine web url (#285)
  configs/prow-dev/config/config.yaml
  configs/prow-dev/config/external_plugins_config.yaml
  web/pages/repos/[org]/[repo]/pulls/[num]/owners.module.scss
  web/pages/repos/[org]/[repo]/pulls/[num]/owners.tsx
Due: pull-ti-community-prow-validate-prow-yaml

config: bump version from v0.17.4 to v0.17.5
  .prow.yaml
  configs/prow-dev/cluster/ti_community_autoresponder_deployment.yaml
  configs/prow-dev/cluster/ti_community_blunderbuss_deployment.yaml
  configs/prow-dev/cluster/ti_community_label_deployment.yaml
  configs/prow-dev/cluster/ti_community_lgtm_deployment.yaml
  configs/prow-dev/cluster/ti_community_merge_deployment.yaml
  configs/prow-dev/cluster/ti_community_owners_deployment.yaml
  configs/prow-dev/cluster/ti_community_tars_deployment.yaml
  configs/prow-dev/cluster/tichi_web_deployment.yaml
Due: pull-ti-community-prow-validate-prow-yaml, post-ti-community-prow-deploy-prow

config: bump version from v0.17.4 to v0.17.5 (#286)
  .prow.yaml
  configs/prow-dev/cluster/ti_community_autoresponder_deployment.yaml
  configs/prow-dev/cluster/ti_community_blunderbuss_deployment.yaml
  configs/prow-dev/cluster/ti_community_label_deployment.yaml
  configs/prow-dev/cluster/ti_community_lgtm_deployment.yaml
  configs/prow-dev/cluster/ti_community_merge_deployment.yaml
  configs/prow-dev/cluster/ti_community_owners_deployment.yaml
  configs/prow-dev/cluster/ti_community_tars_deployment.yaml
  configs/prow-dev/cluster/tichi_web_deployment.yaml
Due: pull-ti-community-prow-validate-prow-yaml, post-ti-community-prow-deploy-prow

config: refine timeout
  configs/prow-dev/cluster/tichi_web_deployment.yaml
Due: pull-ti-community-prow-validate-prow-yaml, post-ti-community-prow-deploy-prow

config: refine timeout (#287)
  configs/prow-dev/cluster/tichi_web_deployment.yaml
Due: pull-ti-community-prow-validate-prow-yaml, post-ti-community-prow-deploy-prow

feat: add review notification
  cmd/ticommunitylgtm/main.go
  internal/pkg/externalplugins/lgtm/lgtm.go
Due: none

fix: remove merge limit for committer
  docs/en/plugins/merge.md
  docs/plugins/merge.md
  internal/pkg/externalplugins/merge/merge.go
  internal/pkg/externalplugins/merge/merge_test.go
Due: none

refactor: fmt code
  internal/pkg/externalplugins/lgtm/lgtm.go
Due: none

refactor: add const
  internal/pkg/externalplugins/lgtm/lgtm.go
Due: none

fix: remove merge limit for committer (#290)
  docs/en/plugins/merge.md
  docs/plugins/merge.md
  internal/pkg/externalplugins/merge/merge.go
  internal/pkg/externalplugins/merge/merge_test.go
Due: none

deploy: adb1b993fc623c6fc2d346a1d59ff2ef4f4106d5
  en/plugins/merge.md
  plugins/merge.md
Due: none

refactor: refine code
  internal/pkg/externalplugins/lgtm/lgtm.go
Due: none

refactor: rename
  internal/pkg/externalplugins/lgtm/lgtm.go
Due: none

refactor: add more log
  internal/pkg/externalplugins/lgtm/lgtm.go
Due: none

refactor: refine message
  internal/pkg/externalplugins/lgtm/lgtm.go
Due: none

feat: add config
  internal/pkg/externalplugins/config.go
  internal/pkg/externalplugins/config_test.go
  test/testdata/config_test.yaml
  test/testdata/config_update.yaml
Due: none

feat: use config
  internal/pkg/externalplugins/lgtm/lgtm.go
Due: none

test: remove useless code
  internal/pkg/externalplugins/lgtm/lgtm_test.go
Due: none

test: add cases
  internal/pkg/externalplugins/lgtm/lgtm.go
  internal/pkg/externalplugins/lgtm/lgtm_test.go
Due: none

test: add cases
  internal/pkg/externalplugins/lgtm/lgtm_test.go
Due: none

test: add comments
  internal/pkg/externalplugins/lgtm/lgtm.go
Due: none

test: fix typo
  internal/pkg/externalplugins/lgtm/lgtm.go
Due: none

refactor: refine msg
  internal/pkg/externalplugins/lgtm/lgtm.go
  internal/pkg/externalplugins/lgtm/lgtm_test.go
Due: none

feat: add identifier
  internal/pkg/externalplugins/lgtm/lgtm.go
  internal/pkg/externalplugins/lgtm/lgtm_test.go
Due: none

feat: fix typo
  internal/pkg/externalplugins/lgtm/lgtm.go
Due: none

feat: add review notification (#289)
  cmd/ticommunitylgtm/main.go
  internal/pkg/externalplugins/config.go
  internal/pkg/externalplugins/config_test.go
  internal/pkg/externalplugins/lgtm/lgtm.go
  internal/pkg/externalplugins/lgtm/lgtm_test.go
  test/testdata/config_test.yaml
  test/testdata/config_update.yaml
Due: none

build: bump version to v1.0.0
  .prow.yaml
  configs/prow-dev/cluster/ti_community_autoresponder_deployment.yaml
  configs/prow-dev/cluster/ti_community_blunderbuss_deployment.yaml
  configs/prow-dev/cluster/ti_community_label_deployment.yaml
  configs/prow-dev/cluster/ti_community_lgtm_deployment.yaml
  configs/prow-dev/cluster/ti_community_merge_deployment.yaml
  configs/prow-dev/cluster/ti_community_owners_deployment.yaml
  configs/prow-dev/cluster/ti_community_tars_deployment.yaml
  configs/prow-dev/cluster/tichi_web_deployment.yaml
  configs/prow-dev/config/external_plugins_config.yaml
Due: pull-ti-community-prow-validate-prow-yaml, post-ti-community-prow-deploy-prow

build: bump version to v1.0.0 (#293)
  .prow.yaml
  configs/prow-dev/cluster/ti_community_autoresponder_deployment.yaml
  configs/prow-dev/cluster/ti_community_blunderbuss_deployment.yaml
  configs/prow-dev/cluster/ti_community_label_deployment.yaml
  configs/prow-dev/cluster/ti_community_lgtm_deployment.yaml
  configs/prow-dev/cluster/ti_community_merge_deployment.yaml
  configs/prow-dev/cluster/ti_community_owners_deployment.yaml
  configs/prow-dev/cluster/ti_community_tars_deployment.yaml
  configs/prow-dev/cluster/tichi_web_deployment.yaml
  configs/prow-dev/config/external_plugins_config.yaml
Due: pull-ti-community-prow-validate-prow-yaml, post-ti-community-prow-deploy-prow

fix: refine lgtm delete comments issue
  internal/pkg/externalplugins/lgtm/lgtm.go
  internal/pkg/externalplugins/lgtm/lgtm_test.go
Due: none
