Repository ti-community-infra/tichi: changes, and which Prow jobs are due for each by the changed paths.
All: pull-ti-community-prow-validate-prow-yaml, post-ti-community-prow-label-sync, post-ti-community-prow-deploy-prow

.prow.yaml:

presubmits:
  - name: pull-ti-community-prow-validate-prow-yaml
    decorate: true
    run_if_changed: 'configs/prow-dev/'
    branches:
      - ^master$
    spec:
      containers:
        - image: gcr.io/k8s-prow/checkconfig:v20201124-061f85d859
          command:
            - /checkconfig
          args:
            - --plugin-config=configs/prow-dev/config/plugins.yaml
            - --config-path=configs/prow-dev/config/config.yaml
            - --warnings=validate-urls
            - --warnings=unknown-fields
            - --warnings=duplicate-job-refs
  - name: post-ti-community-prow-label-sync
    decorate: true
    labels:
      app: label-sync
    run_if_changed: 'configs/prow-dev/config/labels.yaml'
    branches:
      - ^master$
    spec:
      containers:
        - image: gcr.io/k8s-prow/label_sync:v20201124-061f85d859
          command:
            - /app/label_sync/app.binary
          args:
            - --config=configs/prow-dev/config/labels.yaml
            - --confirm=true
            - --only=tidb-community-bots/test-dev
            - --token=/etc/github/token
          volumeMounts:
            - name: github-token
              mountPath: /etc/github
              readOnly: true
      volumes:
        - name: github-token
          secret:
            secretName: github-token
postsubmits:
  - name: post-ti-community-prow-deploy-prow
    run_if_changed: 'configs/prow-dev/cluster/'
    decorate: true
    branches:
      - ^master$
    max_concurrency: 1
    spec:
      containers:
        - image: google/cloud-sdk:319.0.0
          command:
            - scripts/deploy.sh
          args:
            - --confirm
            - --config=trusted
          env:
            - name: GOOGLE_APPLICATION_CREDENTIALS
              value: /creds/service-account.json
          volumeMounts:
            - name: creds
              mountPath: /creds
      volumes:
        - name: creds
          secret:
            secretName: deployer-credentials
    annotations:
      description: deploys the configured version of prow by running scripts/deploy.sh

build: bump ti plugins version and enable validate config job (#349)
  .prow.yaml
  configs/prow-dev/cluster/ti_community_autoresponder_deployment.yaml
  configs/prow-dev/cluster/ti_community_blunderbuss_deployment.yaml
  configs/prow-dev/cluster/ti_community_label_blocker_deployment.yaml
  configs/prow-dev/cluster/ti_community_label_deployment.yaml
  configs/prow-dev/cluster/ti_community_lgtm_deployment.yaml
  configs/prow-dev/cluster/ti_community_merge_deployment.yaml
  configs/prow-dev/cluster/ti_community_owners_deployment.yaml
  configs/prow-dev/cluster/ti_community_tars_deployment.yaml
  configs/prow-dev/cluster/tichi_web_deployment.yaml
Due: pull-ti-community-prow-validate-prow-yaml, post-ti-community-prow-deploy-prow

build: bump the test-infra and plugins version
  .prow.yaml
  configs/prow-dev/cluster/branchprotector.yaml
  configs/prow-dev/cluster/cherrypicker_deployment.yaml
  configs/prow-dev/cluster/crier_deployment.yaml
  configs/prow-dev/cluster/deck_deployment.yaml
  configs/prow-dev/cluster/ghproxy.yaml
  configs/prow-dev/cluster/hook_deployment.yaml
  configs/prow-dev/cluster/horologium_deployment.yaml
  configs/prow-dev/cluster/needs-rebase_deployment.yaml
  configs/prow-dev/cluster/plank_deployment.yaml
  configs/prow-dev/cluster/prow_controller_manager_deployment.yaml
  configs/prow-dev/cluster/sinker_deployment.yaml
  configs/prow-dev/cluster/statusreconciler_deployment.yaml
  configs/prow-dev/cluster/tide_deployment.yaml
  configs/prow-dev/config/config.yaml
  configs/prow-dev/jobs/ti-community-infra/test-dev/rustin-bot-periodics.yaml
  go.mod
  go.sum
Due: pull-ti-community-prow-validate-prow-yaml, post-ti-community-prow-deploy-prow

build: bump the test-infra and plugins version (#353)
  .prow.yaml
  configs/prow-dev/cluster/branchprotector.yaml
  configs/prow-dev/cluster/cherrypicker_deployment.yaml
  configs/prow-dev/cluster/crier_deployment.yaml
  configs/prow-dev/cluster/deck_deployment.yaml
  configs/prow-dev/cluster/ghproxy.yaml
  configs/prow-dev/cluster/hook_deployment.yaml
  configs/prow-dev/cluster/horologium_deployment.yaml
  configs/prow-dev/cluster/needs-rebase_deployment.yaml
  configs/prow-dev/cluster/plank_deployment.yaml
  configs/prow-dev/cluster/prow_controller_manager_deployment.yaml
  configs/prow-dev/cluster/sinker_deployment.yaml
  configs/prow-dev/cluster/statusreconciler_deployment.yaml
  configs/prow-dev/cluster/tide_deployment.yaml
  configs/prow-dev/config/config.yaml
  configs/prow-dev/jobs/ti-community-infra/test-dev/rustin-bot-periodics.yaml
  go.mod
  go.sum
Due: pull-ti-community-prow-validate-prow-yaml, post-ti-community-prow-deploy-prow

polish message
  configs/prow-dev/config/external_plugins_config.yaml
  docs/plugins/tars.md
  test/testdata/config_combine.yaml
Due: pull-ti-community-prow-validate-prow-yaml

style: Polish message (#354)
  configs/prow-dev/config/external_plugins_config.yaml
  docs/plugins/tars.md
  test/testdata/config_combine.yaml
Due: pull-ti-community-prow-validate-prow-yaml

deploy: d7c59d17c2a467b319928a8b855852b1a8cbae08
  plugins/tars.md
Due: none

chore: remove TODO
  internal/pkg/externalplugins/config.go
Due: none

chore: remove TODO (#355)
  internal/pkg/externalplugins/config.go
Due: none

ci: add pull-tichi-unit-test
  .github/workflows/test.yml
  .prow.yaml
  Makefile
Due: none

ci: rename
  .prow.yaml
Due: none

ci: refine makefile
  Makefile
Due: none

ci: add env
  .prow.yaml
Due: none

ci: add pull-tichi-unit-test (#359)
  .github/workflows/test.yml
  .prow.yaml
  Makefile
Due: none

refactor: refine Makefile
  Makefile
Due: none

refactor: refine Makefile (#361)
  Makefile
Due: none

feat: blunderbuss support weighted assign
  go.mod
  go.sum
  internal/pkg/externalplugins/blunderbuss/blunderbuss.go
  internal/pkg/externalplugins/blunderbuss/blunderbuss_test.go
Due: none

refactor: rename
  internal/pkg/externalplugins/blunderbuss/blunderbuss.go
Due: none

refactor: refine log
  internal/pkg/externalplugins/blunderbuss/blunderbuss.go
Due: none

refactor: add more commits
  internal/pkg/externalplugins/blunderbuss/blunderbuss_test.go
Due: none

refactor: refine test
  internal/pkg/externalplugins/blunderbuss/blunderbuss_test.go
Due: none

docs: update docs
  docs/plugins/blunderbuss.md
Due: none

docs: add en docs
  docs/en/_sidebar.md
  docs/en/plugins/blunderbuss.md
  docs/plugins/blunderbuss.md
Due: none

feat: run autobump when presubmits
  .prow.yaml
Due: none

Update .prow.yaml
  .prow.yaml
Due: none

fix: always run
  .prow.yaml
Due: none

refactor: add weightIncrement
  internal/pkg/externalplugins/blunderbuss/blunderbuss.go
Due: none

docs: update docs
  docs/en/plugins/blunderbuss.md
  docs/plugins/blunderbuss.md
Due: none

docs: add comments
  internal/pkg/externalplugins/blunderbuss/blunderbuss.go
Due: none

feat: blunderbuss support weighted assign (#362)
  docs/en/_sidebar.md
  docs/en/plugins/blunderbuss.md
  docs/plugins/blunderbuss.md
  go.mod
  go.sum
  internal/pkg/externalplugins/blunderbuss/blunderbuss.go
  internal/pkg/externalplugins/blunderbuss/blunderbuss_test.go
Due: none

deploy: a5ed4458c0fc5efadb59d8037bbf794da4fdf231
  en/_sidebar.md
  en/plugins/blunderbuss.md
  plugins/blunderbuss.md
Due: none

build: bump ti plugins version form v1.3.0 to v1.3.1
  .prow.yaml
  configs/prow-dev/cluster/ti_community_autoresponder_deployment.yaml
  configs/prow-dev/cluster/ti_community_blunderbuss_deployment.yaml
  configs/prow-dev/cluster/ti_community_label_blocker_deployment.yaml
  configs/prow-dev/cluster/ti_community_label_deployment.yaml
  configs/prow-dev/cluster/ti_community_lgtm_deployment.yaml
  configs/prow-dev/cluster/ti_community_merge_deployment.yaml
  configs/prow-dev/cluster/ti_community_owners_deployment.yaml
  configs/prow-dev/cluster/ti_community_tars_deployment.yaml
  configs/prow-dev/cluster/tichi_web_deployment.yaml
Due: pull-ti-community-prow-validate-prow-yaml, post-ti-community-prow-deploy-prow

build: bump tichi plugins version form v1.3.0 to v1.3.1 (#364)
  .prow.yaml
  configs/prow-dev/cluster/ti_community_autoresponder_deployment.yaml
  configs/prow-dev/cluster/ti_community_blunderbuss_deployment.yaml
  configs/prow-dev/cluster/ti_community_label_blocker_deployment.yaml
  configs/prow-dev/cluster/ti_community_label_deployment.yaml
  configs/prow-dev/cluster/ti_community_lgtm_deployment.yaml
  configs/prow-dev/cluster/ti_community_merge_deployment.yaml
  configs/prow-dev/cluster/ti_community_owners_deployment.yaml
  configs/prow-dev/cluster/ti_community_tars_deployment.yaml
  configs/prow-dev/cluster/tichi_web_deployment.yaml
Due: pull-ti-community-prow-validate-prow-yaml, post-ti-community-prow-deploy-prow

fix: use correct autobumper
  .autobump.config.yaml
  .prow.yaml
Due: none

fix: only update one PR
  cmd/ticommunitytars/main.go
  docs/plugins/tars.md
  internal/pkg/externalplugins/tars/tars.go
Due: none

docs: update docs
  docs/en/_sidebar.md
  docs/en/plugins/tars.md
  docs/plugins/tars.md
Due: none
