Repository ti-community-infra/tichi: changes, and which Prow jobs are due for each by the changed paths.
All: pull-ti-community-prow-validate-prow-yaml, post-ti-community-prow-label-sync, post-ti-community-prow-deploy-prow

pull-ti-community-prow-validate-prow-yaml:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-prow/checkconfig:v20201124-061f85d859
      command:
      - /checkconfig
      args:
      - --plugin-config=configs/prow-dev/config/plugins.yaml
      - --config-path=configs/prow-dev/config/config.yaml
      - --warnings=validate-urls
  ...

post-ti-community-prow-label-sync:
  decorate: true
  labels:
    app: label-sync
  spec:
    containers:
    - image: gcr.io/k8s-prow/label_sync:v20201124-061f85d859
      command:
      - /app/label_sync/app.binary
      args:
      - --config=configs/prow-dev/config/labels.yaml
      - --confirm=true
      - --only=tidb-community-bots/test-dev
  ...

post-ti-community-prow-deploy-prow:
  decorate: true
  spec:
    containers:
    - image: google/cloud-sdk:319.0.0
      command:
      - scripts/deploy.sh
      args:
      - --confirm
      - --config=trusted
      env:
      - name: GOOGLE_APPLICATION_CREDENTIALS
        value: /creds/service-account.json
      volumeMounts:
      - name: creds
  ...

config: enable milestone for test dev
  configs/prow-dev/config/plugins.yaml
Due: pull-ti-community-prow-validate-prow-yaml

config: enable milestone for test dev (#187)
  configs/prow-dev/config/plugins.yaml
Due: pull-ti-community-prow-validate-prow-yaml

docs: refine lgtm
  docs/src/plugins/lgtm.md
Due: none

docs: refine lgtm (#189)
  docs/src/plugins/lgtm.md
Due: none

deploy: df8de6fbdf74dd2ae6c1ad001883a12ed713fd3f
  plugins/lgtm.html
  print.html
  searchindex.js
  searchindex.json
Due: none

chore: move label and label prefix constants to label.go
  internal/pkg/externalplugins/label.go
  internal/pkg/externalplugins/lgtm/lgtm.go
  internal/pkg/externalplugins/lgtm/lgtm_test.go
  internal/pkg/externalplugins/merge/merge.go
  internal/pkg/externalplugins/merge/merge_test.go
  internal/pkg/externalplugins/owners/owners.go
Due: none

refactor: move the label and label preifx constants to label.go
  internal/pkg/externalplugins/label.go
  internal/pkg/externalplugins/lgtm/lgtm.go
  internal/pkg/externalplugins/lgtm/lgtm_test.go
  internal/pkg/externalplugins/merge/merge.go
  internal/pkg/externalplugins/merge/merge_test.go
Due: none

fix: add period for notes
  internal/pkg/externalplugins/label.go
Due: none

refactor: move the label and label preifx constants to label.go (#190)
  internal/pkg/externalplugins/label.go
  internal/pkg/externalplugins/lgtm/lgtm.go
  internal/pkg/externalplugins/lgtm/lgtm_test.go
  internal/pkg/externalplugins/merge/merge.go
  internal/pkg/externalplugins/merge/merge_test.go
  internal/pkg/externalplugins/owners/owners.go
Due: none

feat: add Owner page
  web/README.md
  web/package.json
  web/pages/[org]/[repo]/pulls/[num]/owners.module.scss
  web/pages/[org]/[repo]/pulls/[num]/owners.tsx
  web/pages/api/hello.js
  web/pages/index.tsx
  web/tsconfig.json
  web/types/owners.ts
  web/utils/constant.ts
  web/utils/request.ts
Due: none

build: deploy cherrypicker
  configs/prow-dev/cluster/cherrypicker_deployment.yaml
  configs/prow-dev/cluster/cherrypicker_service.yaml
Due: pull-ti-community-prow-validate-prow-yaml, post-ti-community-prow-deploy-prow

build: deploy cherrypicker (#192)
  configs/prow-dev/cluster/cherrypicker_deployment.yaml
  configs/prow-dev/cluster/cherrypicker_service.yaml
Due: pull-ti-community-prow-validate-prow-yaml, post-ti-community-prow-deploy-prow

fix: refine cherrypicker deployment github-token-path
  configs/prow-dev/cluster/cherrypicker_deployment.yaml
Due: pull-ti-community-prow-validate-prow-yaml, post-ti-community-prow-deploy-prow

config: enable cherrypick for test dev
  configs/prow-dev/config/plugins.yaml
Due: pull-ti-community-prow-validate-prow-yaml

config: enable cherrypick for test dev (#193)
  configs/prow-dev/cluster/cherrypicker_deployment.yaml
  configs/prow-dev/config/plugins.yaml
Due: pull-ti-community-prow-validate-prow-yaml, post-ti-community-prow-deploy-prow

response: improve the response sentences
  configs/prow-dev/config/external_plugins_config.yaml
  internal/pkg/externalplugins/autoresponder/autoresponder.go
  internal/pkg/externalplugins/blunderbuss/blunderbuss.go
  internal/pkg/externalplugins/label/label.go
  internal/pkg/externalplugins/lgtm/lgtm.go
  internal/pkg/externalplugins/lgtm/lgtm_test.go
  internal/pkg/externalplugins/merge/merge.go
  internal/pkg/externalplugins/owners/owners.go
  internal/pkg/externalplugins/tars/tars.go
Due: pull-ti-community-prow-validate-prow-yaml

update
  web/pages/[org]/[repo]/pulls/[num]/owners.module.scss
  web/pages/[org]/[repo]/pulls/[num]/owners.tsx
Due: none

config: refine cherrypicker name
  configs/prow-dev/cluster/cherrypicker_service.yaml
  configs/prow-dev/config/plugins.yaml
Due: pull-ti-community-prow-validate-prow-yaml, post-ti-community-prow-deploy-prow

config: refine cherrypicker name (#196)
  configs/prow-dev/cluster/cherrypicker_service.yaml
  configs/prow-dev/config/plugins.yaml
Due: pull-ti-community-prow-validate-prow-yaml, post-ti-community-prow-deploy-prow

make ci happy
  configs/prow-dev/config/plugins.yaml
  internal/pkg/externalplugins/merge/merge.go
Due: pull-ti-community-prow-validate-prow-yaml

feat: add ci
  .github/workflows/web.yml
Due: none

chore: remove label workflow
  docs/src/workflows/label.md
Due: none

chore: refine SUMMARY.md
  docs/src/SUMMARY.md
Due: none

address comment
  internal/pkg/externalplugins/label/label.go
  internal/pkg/externalplugins/lgtm/lgtm.go
  internal/pkg/externalplugins/merge/merge.go
Due: none

chore: remove label workflow (#197)
  docs/src/SUMMARY.md
  docs/src/workflows/label.md
Due: none

deploy: 285e9bbc2031bc7f98c7d2f01f4342936fd58a93
  404.html
  components.html
  components/tide.html
  index.html
  introduction.html
  plugins.html
  plugins/blunderbuss.html
  plugins/label.html
  plugins/lgtm.html
  plugins/merge.html
  plugins/owners.html
  plugins/require-matching-label.html
  plugins/tars.html
  print.html
  searchindex.js
  searchindex.json
  tools.html
  tools/label_sync.html
  workflows.html
  workflows/label.html
  workflows/pr.html
Due: none

address comment
  configs/prow-dev/config/labels.yaml
  internal/pkg/externalplugins/blunderbuss/blunderbuss.go
  internal/pkg/externalplugins/label/label.go
  internal/pkg/externalplugins/lgtm/lgtm.go
Due: pull-ti-community-prow-validate-prow-yaml, post-ti-community-prow-label-sync

address commemt
  internal/pkg/externalplugins/merge/merge.go
Due: none

make ci happy
  internal/pkg/externalplugins/merge/merge.go
Due: none

address commemt
  docs/src/plugins/lgtm.md
  internal/pkg/externalplugins/lgtm/lgtm.go
  internal/pkg/externalplugins/lgtm/lgtm_test.go
  internal/pkg/externalplugins/merge/merge.go
Due: none

docs: add hold and wip
  docs/src/SUMMARY.md
  docs/src/plugins/hold.md
  docs/src/plugins/wip.md
Due: none

docs: fix typo
  docs/src/plugins/hold.md
  docs/src/plugins/wip.md
Due: none

docs: fix typo
  docs/src/plugins/wip.md
Due: none

docs: add quotation marks for WIP
  docs/src/plugins/wip.md
Due: none

Path conditions:
  pull-ti-community-prow-validate-prow-yaml: any of: configs/prow-dev/
  post-ti-community-prow-label-sync: any of: configs/prow-dev/config/labels.yaml
  post-ti-community-prow-deploy-prow: any of: configs/prow-dev/cluster/
