Repository ti-community-infra/tichi: changes, and which Prow jobs are due for each by the changed paths.
All: pull-ti-community-prow-validate-prow-yaml, post-ti-community-prow-label-sync, post-ti-community-prow-deploy-prow

.prow.yaml:

presubmits:
  - name: pull-ti-community-prow-validate-prow-yaml
    decorate: true
    run_if_changed: 'configs/prow-dev/'
    branches:
      - ^master$
    spec:
      containers:
        - image: gcr.io/k8s-prow/checkconfig:v20201124-061f85d859
          command:
            - /checkconfig
          args:
            - --plugin-config=configs/prow-dev/config/plugins.yaml
            - --config-path=configs/prow-dev/config/config.yaml
            - --warnings=validate-urls
            - --warnings=unknown-fields
            - --warnings=duplicate-job-refs
  - name: post-ti-community-prow-label-sync
    decorate: true
    labels:
      app: label-sync
    run_if_changed: 'configs/prow-dev/config/labels.yaml'
    branches:
      - ^master$
    spec:
      containers:
        - image: gcr.io/k8s-prow/label_sync:v20201124-061f85d859
          command:
            - /app/label_sync/app.binary
          args:
            - --config=configs/prow-dev/config/labels.yaml
            - --confirm=true
            - --only=tidb-community-bots/test-dev
            - --token=/etc/github/token
          volumeMounts:
            - name: github-token
              mountPath: /etc/github
              readOnly: true
      volumes:
        - name: github-token
          secret:
            secretName: github-token
postsubmits:
  - name: post-ti-community-prow-deploy-prow
    run_if_changed: 'configs/prow-dev/cluster/'
    decorate: true
    branches:
      - ^master$
    max_concurrency: 1
    spec:
      containers:
        - image: google/cloud-sdk:319.0.0
          command:
            - scripts/deploy.sh
          args:
            - --confirm
            - --config=trusted
          env:
            - name: GOOGLE_APPLICATION_CREDENTIALS
              value: /creds/service-account.json
          volumeMounts:
            - name: creds
              mountPath: /creds
      volumes:
        - name: creds
          secret:
            secretName: deployer-credentials
    annotations:
      description: deploys the configured version of prow by running scripts/deploy.sh

fix: refine order
  internal/pkg/externalplugins/lgtm/lgtm.go
Due: none

fix: fix typo
  internal/pkg/externalplugins/lgtm/lgtm_test.go
Due: none

fix: refine lgtm delete comments issue (#294)
  internal/pkg/externalplugins/lgtm/lgtm.go
  internal/pkg/externalplugins/lgtm/lgtm_test.go
Due: none

build: bump version to v1.0.1
  .prow.yaml
  configs/prow-dev/cluster/ti_community_autoresponder_deployment.yaml
  configs/prow-dev/cluster/ti_community_blunderbuss_deployment.yaml
  configs/prow-dev/cluster/ti_community_label_deployment.yaml
  configs/prow-dev/cluster/ti_community_lgtm_deployment.yaml
  configs/prow-dev/cluster/ti_community_merge_deployment.yaml
  configs/prow-dev/cluster/ti_community_owners_deployment.yaml
  configs/prow-dev/cluster/ti_community_tars_deployment.yaml
  configs/prow-dev/cluster/tichi_web_deployment.yaml
Due: pull-ti-community-prow-validate-prow-yaml, post-ti-community-prow-deploy-prow

feat: async phony-rs
  experiment/phony-rs/Cargo.toml
  experiment/phony-rs/src/main.rs
  experiment/phony-rs/static/index.html
Due: none

build: bump version to v1.0.1 (#295)
  .prow.yaml
  configs/prow-dev/cluster/ti_community_autoresponder_deployment.yaml
  configs/prow-dev/cluster/ti_community_blunderbuss_deployment.yaml
  configs/prow-dev/cluster/ti_community_label_deployment.yaml
  configs/prow-dev/cluster/ti_community_lgtm_deployment.yaml
  configs/prow-dev/cluster/ti_community_merge_deployment.yaml
  configs/prow-dev/cluster/ti_community_owners_deployment.yaml
  configs/prow-dev/cluster/ti_community_tars_deployment.yaml
  configs/prow-dev/cluster/tichi_web_deployment.yaml
Due: pull-ti-community-prow-validate-prow-yaml, post-ti-community-prow-deploy-prow

chore: the original author
  experiment/phony-rs/Cargo.toml
Due: none

style: return to div
  experiment/phony-rs/static/index.html
Due: none

chore: fix typo
  internal/pkg/externalplugins/lgtm/lgtm.go
Due: none

chore: fetch label first
  internal/pkg/externalplugins/lgtm/lgtm.go
Due: none

chore: fix typo (#297)
  internal/pkg/externalplugins/lgtm/lgtm.go
Due: none

config: send pull request event to lgtm
  configs/prow-dev/config/plugins.yaml
Due: pull-ti-community-prow-validate-prow-yaml

config: send pull request event to lgtm (#298)
  configs/prow-dev/config/plugins.yaml
Due: pull-ti-community-prow-validate-prow-yaml

chore: add comments for makefile
  configs/prow-dev/Makefile
Due: pull-ti-community-prow-validate-prow-yaml

chore: add examples
  configs/prow-dev/cluster/gcs-secrets.example.yaml
  configs/prow-dev/cluster/github-token.example.yaml
  configs/prow-dev/cluster/hmac-token.example.yaml
Due: pull-ti-community-prow-validate-prow-yaml, post-ti-community-prow-deploy-prow

chore: add period
  configs/prow-dev/cluster/hmac-token.example.yaml
Due: pull-ti-community-prow-validate-prow-yaml, post-ti-community-prow-deploy-prow

chore: add comments for makefile (#299)
  configs/prow-dev/Makefile
  configs/prow-dev/cluster/gcs-secrets.example.yaml
  configs/prow-dev/cluster/github-token.example.yaml
  configs/prow-dev/cluster/hmac-token.example.yaml
Due: pull-ti-community-prow-validate-prow-yaml, post-ti-community-prow-deploy-prow

fix: update dependencies to remove panic
  experiment/label-dumpling/Cargo.toml
  experiment/label-dumpling/src/main.rs
Due: none

fix: set correct prefix and async sign payload
  experiment/phony-rs/src/main.rs
Due: none

chore: add me to the authors
  experiment/phony-rs/Cargo.toml
Due: none

feat: async support for phony-rs (#296)
  experiment/phony-rs/Cargo.toml
  experiment/phony-rs/src/main.rs
  experiment/phony-rs/static/index.html
Due: none

fix: update dependencies to remove panic (#300)
  experiment/label-dumpling/Cargo.toml
  experiment/label-dumpling/src/main.rs
Due: none

build: bump test-infra deps version
  go.mod
  go.sum
Due: none

build: bump images version
  .prow.yaml
  configs/prow-dev/cluster/branchprotector.yaml
  configs/prow-dev/cluster/cherrypicker_deployment.yaml
  configs/prow-dev/cluster/crier_deployment.yaml
  configs/prow-dev/cluster/deck_deployment.yaml
  configs/prow-dev/cluster/ghproxy.yaml
  configs/prow-dev/cluster/hook_deployment.yaml
  configs/prow-dev/cluster/horologium_deployment.yaml
  configs/prow-dev/cluster/label_sync.yaml
  configs/prow-dev/cluster/needs-rebase_deployment.yaml
  configs/prow-dev/cluster/plank_deployment.yaml
  configs/prow-dev/cluster/prow_controller_manager_deployment.yaml
  configs/prow-dev/cluster/sinker_deployment.yaml
  configs/prow-dev/cluster/statusreconciler_deployment.yaml
  configs/prow-dev/cluster/tide_deployment.yaml
  configs/prow-dev/config/config.yaml
  configs/prow-dev/jobs/ti-community-infra/test-dev/rustin-bot-periodics.yaml
Due: pull-ti-community-prow-validate-prow-yaml, post-ti-community-prow-deploy-prow

build: bump test-infra deps version (#303)
  .prow.yaml
  configs/prow-dev/cluster/branchprotector.yaml
  configs/prow-dev/cluster/cherrypicker_deployment.yaml
  configs/prow-dev/cluster/crier_deployment.yaml
  configs/prow-dev/cluster/deck_deployment.yaml
  configs/prow-dev/cluster/ghproxy.yaml
  configs/prow-dev/cluster/hook_deployment.yaml
  configs/prow-dev/cluster/horologium_deployment.yaml
  configs/prow-dev/cluster/label_sync.yaml
  configs/prow-dev/cluster/needs-rebase_deployment.yaml
  configs/prow-dev/cluster/plank_deployment.yaml
  configs/prow-dev/cluster/prow_controller_manager_deployment.yaml
  configs/prow-dev/cluster/sinker_deployment.yaml
  configs/prow-dev/cluster/statusreconciler_deployment.yaml
  configs/prow-dev/cluster/tide_deployment.yaml
  configs/prow-dev/config/config.yaml
  configs/prow-dev/jobs/ti-community-infra/test-dev/rustin-bot-periodics.yaml
  go.mod
  go.sum
Due: pull-ti-community-prow-validate-prow-yaml, post-ti-community-prow-deploy-prow

docs: add doc for label blocker plugin
  cmd/ticommunitylabelblocker/main.go
  docs/_sidebar.md
  docs/plugins/label-blocker.md
  docs/plugins/label.md
  internal/pkg/externalplugins/config.go
  internal/pkg/externalplugins/config_test.go
  internal/pkg/externalplugins/labelblocker/labelblocker_test.go
Due: none

feat: add labelblocker plugin
  cmd/ticommunitylabelblocker/main.go
  internal/pkg/externalplugins/config.go
  internal/pkg/externalplugins/config_test.go
  internal/pkg/externalplugins/labelblocker/labelblocker.go
  internal/pkg/externalplugins/labelblocker/labelblocker_test.go
Due: none

fix
  internal/pkg/externalplugins/config.go
  internal/pkg/externalplugins/labelblocker/labelblocker.go
Due: none

fix typo
  internal/pkg/externalplugins/labelblocker/labelblocker.go
Due: none

test: add test for help provider
  internal/pkg/externalplugins/config.go
  internal/pkg/externalplugins/labelblocker/labelblocker.go
  internal/pkg/externalplugins/labelblocker/labelblocker_test.go
Due: none

fix: fix typo and simplify code
  docs/plugins/label-blocker.md
  internal/pkg/externalplugins/config.go
  internal/pkg/externalplugins/config_test.go
  internal/pkg/externalplugins/labelblocker/labelblocker.go
  internal/pkg/externalplugins/labelblocker/labelblocker_test.go
Due: none

fix
  docs/plugins/label-blocker.md
  internal/pkg/externalplugins/config.go
  internal/pkg/externalplugins/labelblocker/labelblocker.go
  internal/pkg/externalplugins/labelblocker/labelblocker_test.go
Due: none

fix: remove unnecessary flags
  internal/pkg/externalplugins/config_test.go
Due: none

config: add tars for test-dev repo
  configs/prow-dev/config/config.yaml
  configs/prow-dev/config/external_plugins_config.yaml
  configs/prow-dev/config/plugins.yaml
Due: pull-ti-community-prow-validate-prow-yaml

fix
  configs/prow-dev/config/config.yaml
Due: pull-ti-community-prow-validate-prow-yaml

config: add tars for test-dev repo (#305)
  configs/prow-dev/config/config.yaml
  configs/prow-dev/config/external_plugins_config.yaml
  configs/prow-dev/config/plugins.yaml
Due: pull-ti-community-prow-validate-prow-yaml

feat: add label blocker plugin (#304)
  cmd/ticommunitylabelblocker/main.go
  docs/_sidebar.md
  docs/plugins/label-blocker.md
  docs/plugins/label.md
  internal/pkg/externalplugins/config.go
  internal/pkg/externalplugins/config_test.go
  internal/pkg/externalplugins/labelblocker/labelblocker.go
  internal/pkg/externalplugins/labelblocker/labelblocker_test.go
Due: none

deploy: 1986e1442782b5a0a3d6b1866f70977ed836be40
  _sidebar.md
  plugins/label-blocker.md
  plugins/label.md
Due: none

deploy: f88e504a198d960a7bcb623201ac66144273c008
  _sidebar.md
  plugins/label-blocker.md
  plugins/label.md
Due: none

config: add dockfile and releaser config for label blocker
  .goreleaser.yml
  deployments/plugins/labelblocker/Dockerfile
Due: none
