Repository ti-community-infra/tichi: changes, and which Prow jobs are due for each by the changed paths.
All: pull-ti-community-prow-validate-prow-yaml, post-ti-community-prow-label-sync, post-ti-community-prow-deploy-prow

.prow.yaml:

presubmits:
  - name: pull-ti-community-prow-validate-prow-yaml
    decorate: true
    run_if_changed: 'configs/prow-dev/'
    branches:
      - ^master$
    spec:
      containers:
        - image: gcr.io/k8s-prow/checkconfig:v20201124-061f85d859
          command:
            - /checkconfig
          args:
            - --plugin-config=configs/prow-dev/config/plugins.yaml
            - --config-path=configs/prow-dev/config/config.yaml
            - --warnings=validate-urls
            - --warnings=unknown-fields
            - --warnings=duplicate-job-refs
  - name: post-ti-community-prow-label-sync
    decorate: true
    labels:
      app: label-sync
    run_if_changed: 'configs/prow-dev/config/labels.yaml'
    branches:
      - ^master$
    spec:
      containers:
        - image: gcr.io/k8s-prow/label_sync:v20201124-061f85d859
          command:
            - /app/label_sync/app.binary
          args:
            - --config=configs/prow-dev/config/labels.yaml
            - --confirm=true
            - --only=tidb-community-bots/test-dev
            - --token=/etc/github/token
          volumeMounts:
            - name: github-token
              mountPath: /etc/github
              readOnly: true
      volumes:
        - name: github-token
          secret:
            secretName: github-token
postsubmits:
  - name: post-ti-community-prow-deploy-prow
    run_if_changed: 'configs/prow-dev/cluster/'
    decorate: true
    branches:
      - ^master$
    max_concurrency: 1
    spec:
      containers:
        - image: google/cloud-sdk:319.0.0
          command:
            - scripts/deploy.sh
          args:
            - --confirm
            - --config=trusted
          env:
            - name: GOOGLE_APPLICATION_CREDENTIALS
              value: /creds/service-account.json
          volumeMounts:
            - name: creds
              mountPath: /creds
      volumes:
        - name: creds
          secret:
            secretName: deployer-credentials
    annotations:
      description: deploys the configured version of prow by running scripts/deploy.sh

refactor: use branch config instead of plugin config in the owners plugin test cases
  configs/prow-dev/config/external_plugins_config.yaml
  docs/src/plugins/owners.md
  internal/pkg/externalplugins/config.go
  internal/pkg/externalplugins/owners/owners.go
  internal/pkg/externalplugins/owners/owners_test.go
Due: pull-ti-community-prow-validate-prow-yaml

doc: update the description of owners plugin config option
  docs/src/plugins/owners.md
Due: none

fix: update the test owners plugin test cases for distinguishable
  internal/pkg/externalplugins/owners/owners_test.go
Due: none

feat: support setting multiple trusted teams and required LGTM for branches (#210)
  docs/src/plugins/owners.md
  internal/pkg/externalplugins/config.go
  internal/pkg/externalplugins/owners/owners.go
  internal/pkg/externalplugins/owners/owners_test.go
Due: none

deploy: b1939d98af73543bfdc4ce7e3bf4d769001fa19a
  plugins/owners.html
  print.html
  searchindex.js
  searchindex.json
Due: none

address comment
  configs/prow-dev/config/plugins.yaml
  internal/pkg/externalplugins/lgtm/lgtm.go
  internal/pkg/externalplugins/merge/merge.go
Due: pull-ti-community-prow-validate-prow-yaml

Update internal/pkg/externalplugins/lgtm/lgtm.go
  internal/pkg/externalplugins/lgtm/lgtm.go
Due: none

address comment
  internal/pkg/externalplugins/merge/merge.go
Due: none

refactor: improve the response sentences (#194)
  configs/prow-dev/config/external_plugins_config.yaml
  configs/prow-dev/config/labels.yaml
  configs/prow-dev/config/plugins.yaml
  docs/src/plugins/lgtm.md
  internal/pkg/externalplugins/autoresponder/autoresponder.go
  internal/pkg/externalplugins/blunderbuss/blunderbuss.go
  internal/pkg/externalplugins/label/label.go
  internal/pkg/externalplugins/lgtm/lgtm.go
  internal/pkg/externalplugins/lgtm/lgtm_test.go
  internal/pkg/externalplugins/merge/merge.go
  internal/pkg/externalplugins/owners/owners.go
  internal/pkg/externalplugins/tars/tars.go
Due: pull-ti-community-prow-validate-prow-yaml, post-ti-community-prow-label-sync

deploy: ab14c526da1206c3f70ef64ef818b9b1b80ca2c4
  plugins/lgtm.html
  print.html
  searchindex.js
  searchindex.json
Due: none

build: bump version
  .prow.yaml
  configs/prow-dev/cluster/branchprotector.yaml
  configs/prow-dev/cluster/cherrypicker_deployment.yaml
  configs/prow-dev/cluster/crier_deployment.yaml
  configs/prow-dev/cluster/deck_deployment.yaml
  configs/prow-dev/cluster/ghproxy.yaml
  configs/prow-dev/cluster/hook_deployment.yaml
  configs/prow-dev/cluster/horologium_deployment.yaml
  configs/prow-dev/cluster/label_sync.yaml
  configs/prow-dev/cluster/needs-rebase_deployment.yaml
  configs/prow-dev/cluster/plank_deployment.yaml
  configs/prow-dev/cluster/prow_controller_manager_deployment.yaml
  configs/prow-dev/cluster/sinker_deployment.yaml
  configs/prow-dev/cluster/statusreconciler_deployment.yaml
  configs/prow-dev/cluster/ti_community_autoresponder_deployment.yaml
  configs/prow-dev/cluster/ti_community_blunderbuss_deployment.yaml
  configs/prow-dev/cluster/ti_community_label_deployment.yaml
  configs/prow-dev/cluster/ti_community_lgtm_deployment.yaml
  configs/prow-dev/cluster/ti_community_merge_deployment.yaml
  configs/prow-dev/cluster/ti_community_owners_deployment.yaml
  configs/prow-dev/cluster/ti_community_tars_deployment.yaml
  configs/prow-dev/cluster/tide_deployment.yaml
  configs/prow-dev/config/config.yaml
Due: pull-ti-community-prow-validate-prow-yaml, post-ti-community-prow-deploy-prow

build: bump version (#215)
  .prow.yaml
  configs/prow-dev/cluster/branchprotector.yaml
  configs/prow-dev/cluster/cherrypicker_deployment.yaml
  configs/prow-dev/cluster/crier_deployment.yaml
  configs/prow-dev/cluster/deck_deployment.yaml
  configs/prow-dev/cluster/ghproxy.yaml
  configs/prow-dev/cluster/hook_deployment.yaml
  configs/prow-dev/cluster/horologium_deployment.yaml
  configs/prow-dev/cluster/label_sync.yaml
  configs/prow-dev/cluster/needs-rebase_deployment.yaml
  configs/prow-dev/cluster/plank_deployment.yaml
  configs/prow-dev/cluster/prow_controller_manager_deployment.yaml
  configs/prow-dev/cluster/sinker_deployment.yaml
  configs/prow-dev/cluster/statusreconciler_deployment.yaml
  configs/prow-dev/cluster/ti_community_autoresponder_deployment.yaml
  configs/prow-dev/cluster/ti_community_blunderbuss_deployment.yaml
  configs/prow-dev/cluster/ti_community_label_deployment.yaml
  configs/prow-dev/cluster/ti_community_lgtm_deployment.yaml
  configs/prow-dev/cluster/ti_community_merge_deployment.yaml
  configs/prow-dev/cluster/ti_community_owners_deployment.yaml
  configs/prow-dev/cluster/ti_community_tars_deployment.yaml
  configs/prow-dev/cluster/tide_deployment.yaml
  configs/prow-dev/config/config.yaml
Due: pull-ti-community-prow-validate-prow-yaml, post-ti-community-prow-deploy-prow

chore: remove welcome
  configs/prow-dev/config/plugins.yaml
Due: pull-ti-community-prow-validate-prow-yaml

feat: add delay time for bluderbuss to wait for sig label to be added
  docs/src/plugins/blunderbuss.md
  internal/pkg/externalplugins/blunderbuss/blunderbuss.go
  internal/pkg/externalplugins/config.go
Due: none

deploy: 767892c2d8acb517aa69e55b346bbada65115b28
  index.html
  introduction.html
  plugins/blunderbuss.html
  plugins/label.html
  plugins/lgtm.html
  plugins/merge.html
  plugins/owners.html
  plugins/require-matching-label.html
  plugins/tars.html
  plugins/wip.html
  print.html
  searchindex.js
  searchindex.json
  tools/label_sync.html
Due: none

fix: validate the duration config
  internal/pkg/externalplugins/blunderbuss/blunderbuss.go
Due: none

fix: add validation for the duration config
  internal/pkg/externalplugins/blunderbuss/blunderbuss.go
  internal/pkg/externalplugins/blunderbuss/blunderbuss_test.go
  internal/pkg/externalplugins/config.go
  internal/pkg/externalplugins/config_test.go
Due: none

feat: add delay time for bluderbuss to wait for sig label to be added (#217)
  docs/src/plugins/blunderbuss.md
  internal/pkg/externalplugins/blunderbuss/blunderbuss.go
  internal/pkg/externalplugins/blunderbuss/blunderbuss_test.go
  internal/pkg/externalplugins/config.go
  internal/pkg/externalplugins/config_test.go
Due: none

deploy: 4da67607c1ddee73cec5bf0046d0d1ad36fc0793
  plugins/blunderbuss.html
  print.html
  searchindex.js
  searchindex.json
Due: none

feat: auto responder support pull review event
  cmd/ticommunityautoresponder/main.go
  internal/pkg/externalplugins/autoresponder/autoresponder.go
  internal/pkg/externalplugins/autoresponder/autoresponder_test.go
Due: none

feat: auto responder support all event
  cmd/ticommunityautoresponder/main.go
  internal/pkg/externalplugins/autoresponder/autoresponder.go
  internal/pkg/externalplugins/autoresponder/autoresponder_test.go
Due: none

config: add rustin-bot-periodics.yaml
  .prow.yaml
  configs/prow-dev/jobs/ti-community-infra/test-dev/rustin-bot-periodics.yaml
Due: pull-ti-community-prow-validate-prow-yaml

config: test
  configs/prow-dev/jobs/ti-community-infra/test-dev/rustin-bot-periodics.yaml
Due: pull-ti-community-prow-validate-prow-yaml

config: add config updater
  configs/prow-dev/.gitignore
  configs/prow-dev/Makefile
  configs/prow-dev/config/plugins.yaml
Due: pull-ti-community-prow-validate-prow-yaml

config: add rustin-bot-periodics.yaml (#219)
  .prow.yaml
  configs/prow-dev/.gitignore
  configs/prow-dev/Makefile
  configs/prow-dev/config/plugins.yaml
  configs/prow-dev/jobs/ti-community-infra/test-dev/rustin-bot-periodics.yaml
Due: pull-ti-community-prow-validate-prow-yaml

config: add jobs
  configs/prow-dev/cluster/crier_deployment.yaml
  configs/prow-dev/cluster/deck_deployment.yaml
  configs/prow-dev/cluster/hook_deployment.yaml
  configs/prow-dev/cluster/horologium_deployment.yaml
  configs/prow-dev/cluster/prow_controller_manager_deployment.yaml
  configs/prow-dev/cluster/sinker_deployment.yaml
  configs/prow-dev/cluster/statusreconciler_deployment.yaml
  configs/prow-dev/cluster/tide_deployment.yaml
Due: pull-ti-community-prow-validate-prow-yaml, post-ti-community-prow-deploy-prow

config: add jobs
  configs/prow-dev/jobs/ti-community-infra/test-dev/rustin-bot-periodics.yaml
Due: pull-ti-community-prow-validate-prow-yaml

config: add jobs (#220)
  configs/prow-dev/cluster/crier_deployment.yaml
  configs/prow-dev/cluster/deck_deployment.yaml
  configs/prow-dev/cluster/hook_deployment.yaml
  configs/prow-dev/cluster/horologium_deployment.yaml
  configs/prow-dev/cluster/prow_controller_manager_deployment.yaml
  configs/prow-dev/cluster/sinker_deployment.yaml
  configs/prow-dev/cluster/statusreconciler_deployment.yaml
  configs/prow-dev/cluster/tide_deployment.yaml
  configs/prow-dev/jobs/ti-community-infra/test-dev/rustin-bot-periodics.yaml
Due: pull-ti-community-prow-validate-prow-yaml, post-ti-community-prow-deploy-prow

config: fix typo
  configs/prow-dev/config/plugins.yaml
Due: pull-ti-community-prow-validate-prow-yaml

config: fix typo (#221)
  configs/prow-dev/config/plugins.yaml
Due: pull-ti-community-prow-validate-prow-yaml

config: rustin bot only for test dev
  configs/prow-dev/jobs/ti-community-infra/test-dev/rustin-bot-periodics.yaml
Due: pull-ti-community-prow-validate-prow-yaml

config: rustin bot only for test dev (#222)
  configs/prow-dev/jobs/ti-community-infra/test-dev/rustin-bot-periodics.yaml
Due: pull-ti-community-prow-validate-prow-yaml

config: fix rustin bot token path
  configs/prow-dev/jobs/ti-community-infra/test-dev/rustin-bot-periodics.yaml
Due: pull-ti-community-prow-validate-prow-yaml

config: fix rustin bot token path (#223)
  configs/prow-dev/jobs/ti-community-infra/test-dev/rustin-bot-periodics.yaml
Due: pull-ti-community-prow-validate-prow-yaml

chore: rename
  internal/pkg/externalplugins/autoresponder/autoresponder_test.go
Due: none

feat: auto responder support all comment events (#218)
  cmd/ticommunityautoresponder/main.go
  internal/pkg/externalplugins/autoresponder/autoresponder.go
  internal/pkg/externalplugins/autoresponder/autoresponder_test.go
Due: none
