Repository ti-community-infra/tichi: changes, and which Prow jobs are due for each by the changed paths.
All: pull-tichi-validate-prow-yaml, pull-tichi-validate-external-plugin-yaml, pull-tichi-validate-labels-yaml, post-tichi-deploy-prow, post-tichi-label-sync

Path conditions:
  pull-tichi-validate-prow-yaml: any of: configs/prow-dev/
  pull-tichi-validate-external-plugin-yaml: any of: configs/prow-dev/config/external_plugins_config.yaml
  pull-tichi-validate-labels-yaml: any of: configs/prow-dev/config/labels.yaml
  post-tichi-deploy-prow: any of: configs/prow-dev/cluster/
  post-tichi-label-sync: any of: configs/prow-dev/config/labels.yaml

address comment
  internal/pkg/externalplugins/cherrypicker/cherrypicker.go
Due: none

fix: refine git am failed issue (#503)
  internal/pkg/externalplugins/cherrypicker/cherrypicker.go
Due: none

build: bump all ti plugins version
  .prow.yaml
  configs/prow-dev/cluster/ti-community-cherrypicker_deployment.yaml
  configs/prow-dev/cluster/ti_community_autoresponder_deployment.yaml
  configs/prow-dev/cluster/ti_community_blunderbuss_deployment.yaml
  configs/prow-dev/cluster/ti_community_contribution_deployment.yaml
  configs/prow-dev/cluster/ti_community_label_blocker_deployment.yaml
  configs/prow-dev/cluster/ti_community_label_deployment.yaml
  configs/prow-dev/cluster/ti_community_lgtm_deployment.yaml
  configs/prow-dev/cluster/ti_community_merge_deployment.yaml
  configs/prow-dev/cluster/ti_community_owners_deployment.yaml
  configs/prow-dev/cluster/ti_community_tars_deployment.yaml
  configs/prow-dev/cluster/tichi_web_deployment.yaml
  configs/prow-dev/config/external_plugins_config.yaml
Due: pull-tichi-validate-prow-yaml, pull-tichi-validate-external-plugin-yaml, post-tichi-deploy-prow

build: bump all ti plugins version (#504)
  .prow.yaml
  configs/prow-dev/cluster/ti-community-cherrypicker_deployment.yaml
  configs/prow-dev/cluster/ti_community_autoresponder_deployment.yaml
  configs/prow-dev/cluster/ti_community_blunderbuss_deployment.yaml
  configs/prow-dev/cluster/ti_community_contribution_deployment.yaml
  configs/prow-dev/cluster/ti_community_label_blocker_deployment.yaml
  configs/prow-dev/cluster/ti_community_label_deployment.yaml
  configs/prow-dev/cluster/ti_community_lgtm_deployment.yaml
  configs/prow-dev/cluster/ti_community_merge_deployment.yaml
  configs/prow-dev/cluster/ti_community_owners_deployment.yaml
  configs/prow-dev/cluster/ti_community_tars_deployment.yaml
  configs/prow-dev/cluster/tichi_web_deployment.yaml
  configs/prow-dev/config/external_plugins_config.yaml
Due: pull-tichi-validate-prow-yaml, pull-tichi-validate-external-plugin-yaml, post-tichi-deploy-prow

build: bump all ti plugins version
  cmd/ticommunitycherrypicker/main.go
  internal/pkg/externalplugins/cherrypicker/cherrypicker.go
Due: none

fix: use cherrypick instead of am when conflicting
  cmd/ticommunitycherrypicker/main.go
  internal/pkg/externalplugins/cherrypicker/cherrypicker.go
Due: none

refactor: clean up comments and logs
  internal/pkg/externalplugins/cherrypicker/cherrypicker.go
  internal/pkg/externalplugins/cherrypicker/cherrypicker_test.go
Due: none

refactor: clean up comments and logs
  internal/pkg/externalplugins/cherrypicker/cherrypicker.go
Due: none

fix: use cherrypick instead of am when conflicting (#506)
  cmd/ticommunitycherrypicker/main.go
  internal/pkg/externalplugins/cherrypicker/cherrypicker.go
  internal/pkg/externalplugins/cherrypicker/cherrypicker_test.go
Due: none

build: bump all ti plugins version
  .prow.yaml
  configs/prow-dev/cluster/ti-community-cherrypicker_deployment.yaml
  configs/prow-dev/cluster/ti_community_autoresponder_deployment.yaml
  configs/prow-dev/cluster/ti_community_blunderbuss_deployment.yaml
  configs/prow-dev/cluster/ti_community_contribution_deployment.yaml
  configs/prow-dev/cluster/ti_community_label_blocker_deployment.yaml
  configs/prow-dev/cluster/ti_community_label_deployment.yaml
  configs/prow-dev/cluster/ti_community_lgtm_deployment.yaml
  configs/prow-dev/cluster/ti_community_merge_deployment.yaml
  configs/prow-dev/cluster/ti_community_owners_deployment.yaml
  configs/prow-dev/cluster/ti_community_tars_deployment.yaml
  configs/prow-dev/cluster/tichi_web_deployment.yaml
Due: pull-tichi-validate-prow-yaml, post-tichi-deploy-prow

fix: use git 2.30.2
  deployments/plugins/cherrypicker/Dockerfile
Due: none

fix: use git 2.30.2 for cherrypicker (#508)
  deployments/plugins/cherrypicker/Dockerfile
Due: none

fix: refine dockerfile typo
  deployments/plugins/cherrypicker/Dockerfile
Due: none

fix: refine dockerfile typo (#509)
  deployments/plugins/cherrypicker/Dockerfile
Due: none

build: bump all ti plugins version (#511)
  .prow.yaml
  configs/prow-dev/cluster/ti-community-cherrypicker_deployment.yaml
  configs/prow-dev/cluster/ti_community_autoresponder_deployment.yaml
  configs/prow-dev/cluster/ti_community_blunderbuss_deployment.yaml
  configs/prow-dev/cluster/ti_community_contribution_deployment.yaml
  configs/prow-dev/cluster/ti_community_label_blocker_deployment.yaml
  configs/prow-dev/cluster/ti_community_label_deployment.yaml
  configs/prow-dev/cluster/ti_community_lgtm_deployment.yaml
  configs/prow-dev/cluster/ti_community_merge_deployment.yaml
  configs/prow-dev/cluster/ti_community_owners_deployment.yaml
  configs/prow-dev/cluster/ti_community_tars_deployment.yaml
  configs/prow-dev/cluster/tichi_web_deployment.yaml
Due: pull-tichi-validate-prow-yaml, post-tichi-deploy-prow

build: Upgrade to GitHub-native Dependabot
  .github/dependabot.yml
Due: none

feat: add ExcludeLabels configuration for tars
  internal/pkg/externalplugins/config.go
  internal/pkg/externalplugins/config_test.go
  internal/pkg/externalplugins/tars/tars.go
Due: none

test: remove useless tests
  internal/pkg/externalplugins/tars/tars.go
  internal/pkg/externalplugins/tars/tars_test.go
Due: none

test: add cases
  internal/pkg/externalplugins/tars/tars_test.go
Due: none

refactor: fmt code
  internal/pkg/externalplugins/tars/tars.go
Due: none

docs: update tars docs
  docs/en/plugins/tars.md
  docs/plugins/tars.md
Due: none

refactor: fmt code
  internal/pkg/externalplugins/tars/tars.go
  internal/pkg/externalplugins/tars/tars_test.go
Due: none

feat: support multiple calls per comment
  internal/pkg/externalplugins/cherrypicker/cherrypicker.go
Due: none

test: add cases
  internal/pkg/externalplugins/cherrypicker/cherrypicker.go
  internal/pkg/externalplugins/cherrypicker/cherrypicker_test.go
Due: none

test: add cases
  internal/pkg/externalplugins/cherrypicker/cherrypicker_test.go
Due: none

test: better reply
  internal/pkg/externalplugins/cherrypicker/cherrypicker.go
Due: none

feat: add ExcludeLabels configuration for tars (#519)
  docs/en/plugins/tars.md
  docs/plugins/tars.md
  internal/pkg/externalplugins/config.go
  internal/pkg/externalplugins/config_test.go
  internal/pkg/externalplugins/tars/tars.go
  internal/pkg/externalplugins/tars/tars_test.go
Due: none

deploy: 3424693756e079b1a7dfeaec96a4717beab434bd
  en/plugins/tars.md
  plugins/tars.md
Due: none

Address comments
  internal/pkg/externalplugins/cherrypicker/cherrypicker.go
  internal/pkg/externalplugins/cherrypicker/cherrypicker_test.go
Due: none

Address comments
  internal/pkg/externalplugins/cherrypicker/cherrypicker_test.go
Due: none

feat: support multiple calls per comment (#520)
  internal/pkg/externalplugins/cherrypicker/cherrypicker.go
  internal/pkg/externalplugins/cherrypicker/cherrypicker_test.go
Due: none

build: bump all ti plugins version (#523)
  .prow.yaml
  configs/prow-dev/cluster/ti-community-cherrypicker_deployment.yaml
  configs/prow-dev/cluster/ti_community_autoresponder_deployment.yaml
  configs/prow-dev/cluster/ti_community_blunderbuss_deployment.yaml
  configs/prow-dev/cluster/ti_community_contribution_deployment.yaml
  configs/prow-dev/cluster/ti_community_label_blocker_deployment.yaml
  configs/prow-dev/cluster/ti_community_label_deployment.yaml
  configs/prow-dev/cluster/ti_community_lgtm_deployment.yaml
  configs/prow-dev/cluster/ti_community_merge_deployment.yaml
  configs/prow-dev/cluster/ti_community_owners_deployment.yaml
  configs/prow-dev/cluster/ti_community_tars_deployment.yaml
  configs/prow-dev/cluster/tichi_web_deployment.yaml
Due: pull-tichi-validate-prow-yaml, post-tichi-deploy-prow

build: bump all ti plugins version (#526)
  .prow.yaml
  configs/prow-dev/cluster/ti-community-cherrypicker_deployment.yaml
  configs/prow-dev/cluster/ti_community_autoresponder_deployment.yaml
  configs/prow-dev/cluster/ti_community_blunderbuss_deployment.yaml
  configs/prow-dev/cluster/ti_community_contribution_deployment.yaml
  configs/prow-dev/cluster/ti_community_label_blocker_deployment.yaml
  configs/prow-dev/cluster/ti_community_label_deployment.yaml
  configs/prow-dev/cluster/ti_community_lgtm_deployment.yaml
  configs/prow-dev/cluster/ti_community_merge_deployment.yaml
  configs/prow-dev/cluster/ti_community_owners_deployment.yaml
  configs/prow-dev/cluster/ti_community_tars_deployment.yaml
  configs/prow-dev/cluster/tichi_web_deployment.yaml
Due: pull-tichi-validate-prow-yaml, post-tichi-deploy-prow

build: rename cherrypicker files
  configs/prow-dev/cluster/ti_community_cherrypicker_deployment.yaml
  configs/prow-dev/cluster/ti_community_cherrypicker_service.yaml
Due: pull-tichi-validate-prow-yaml, post-tichi-deploy-prow

build: rename cherrypicker files (#527)
  configs/prow-dev/cluster/ti_community_cherrypicker_deployment.yaml
  configs/prow-dev/cluster/ti_community_cherrypicker_service.yaml
Due: pull-tichi-validate-prow-yaml, post-tichi-deploy-prow

fix: tars wait a few seconds after receiving a comment
  internal/pkg/externalplugins/tars/tars.go
Due: none
